Repository OpenRefine/OpenRefine, pull requests merged in 2018-11, with the labels that each got.

#1784 Fix rendering of integers in Wikidata extension.
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStringVariable.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbStringVariableTest.java
Labels: wikidata

#1785 Ignore deprecated constraints.
  extensions/wikidata/src/org/openrefine/wikidata/qa/WikidataConstraintFetcher.java
Labels: wikidata

#1786 Focus property input when adding qualifiers and references
  extensions/wikidata/module/scripts/dialogs/schema-alignment-dialog.js
Labels: wikidata

#1790 Make reference toggle clickable.
  extensions/wikidata/module/scripts/dialogs/schema-alignment-dialog.js
Labels: wikidata

#1791 Bump Wikidata-Toolkit to 0.9.0
  extensions/wikidata/lib-local-src/wdtk-datamodel-0.9.0-SNAPSHOT-sources.jar
  extensions/wikidata/lib-local-src/wdtk-wikibaseapi-0.9.0-SNAPSHOT-sources.jar
  extensions/wikidata/lib-local/wdtk-datamodel-0.9.0-SNAPSHOT-jar-with-dependencies.jar
  extensions/wikidata/lib-local/wdtk-wikibaseapi-0.9.0-SNAPSHOT.jar
  extensions/wikidata/pom.xml
  extensions/wikidata/src/org/openrefine/wikidata/commands/PreviewWikibaseSchemaCommand.java
  extensions/wikidata/src/org/openrefine/wikidata/editing/ConnectionManager.java
  extensions/wikidata/src/org/openrefine/wikidata/exporters/QSValuePrinter.java
  extensions/wikidata/src/org/openrefine/wikidata/exporters/QuickStatementsExporter.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/WikidataConstraintFetcher.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/DistinctValuesScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/EntityTypeScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/FormatScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/InverseConstraintScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/QuantityScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/RestrictedValuesScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/SelfReferentialScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/SnakScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/ValueScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbSnakExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/PointerExtractor.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbQuantityExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WikibaseSchemaTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/testing/TestingData.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/scheduler/PointerExtractorTest.java
Labels: wikidata

#1789 Enable autocomplete for Wikidata upload form
  extensions/wikidata/module/scripts/dialogs/perform-edits-dialog.html
  extensions/wikidata/module/scripts/dialogs/perform-edits-dialog.js
Labels: wikidata

#1799 Revert "Bump Wikidata-Toolkit to 0.9.0"
  extensions/wikidata/lib-local-src/wdtk-datamodel-0.9.0-SNAPSHOT-sources.jar
  extensions/wikidata/lib-local-src/wdtk-wikibaseapi-0.9.0-SNAPSHOT-sources.jar
  extensions/wikidata/lib-local/wdtk-datamodel-0.9.0-SNAPSHOT-jar-with-dependencies.jar
  extensions/wikidata/lib-local/wdtk-wikibaseapi-0.9.0-SNAPSHOT.jar
  extensions/wikidata/pom.xml
  extensions/wikidata/src/org/openrefine/wikidata/commands/PreviewWikibaseSchemaCommand.java
  extensions/wikidata/src/org/openrefine/wikidata/editing/ConnectionManager.java
  extensions/wikidata/src/org/openrefine/wikidata/exporters/QSValuePrinter.java
  extensions/wikidata/src/org/openrefine/wikidata/exporters/QuickStatementsExporter.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/WikidataConstraintFetcher.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/DistinctValuesScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/EntityTypeScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/FormatScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/InverseConstraintScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/QuantityScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/RestrictedValuesScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/SelfReferentialScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/SnakScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/ValueScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbSnakExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/PointerExtractor.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbQuantityExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WikibaseSchemaTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/testing/TestingData.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/scheduler/PointerExtractorTest.java
Labels: wikidata

#1794 Trim strings automatically in Wikibase schema.
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/langs/translation-fr.json
  extensions/wikidata/module/langs/translation-jp.json
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/WhitespaceScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbMonolingualExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStringConstant.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStringVariable.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/WhitespaceScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbMonolingualExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbStringConstantTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbStringVariableTest.java
Labels: wikidata

#1796 Re-render table view when switching back from Wikidata schema.
  extensions/wikidata/module/scripts/dialogs/schema-alignment-dialog.js
Labels: wikidata

#1804 Fix qualifier order in preview.
  extensions/wikidata/module/scripts/previewrenderer.js
Labels: wikidata

#1806 Streamline Eclipse setup with Maven
  README.md
  extensions/database/pom.xml
  extensions/gdata/pom.xml
  extensions/pc-axis/pom.xml
  extensions/wikidata/pom.xml
  main/pom.xml
  packaging/pom.xml
  pom.xml
  server/pom.xml
Labels: maintainability

#1795 Add import and export for Wikidata schema
  extensions/wikidata/module/MOD-INF/controller.js
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/scripts/dialogs/import-schema-dialog.html
  extensions/wikidata/module/scripts/dialogs/import-schema-dialog.js
  extensions/wikidata/module/scripts/menu-bar-extension.js
  extensions/wikidata/module/styles/dialogs/import-schema-dialog.less
  extensions/wikidata/src/org/openrefine/wikidata/commands/PreviewWikibaseSchemaCommand.java
  extensions/wikidata/src/org/openrefine/wikidata/exporters/SchemaExporter.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/exporters/SchemaExporterTest.java
Labels: wikidata

#1868 ugh, forgot to still allow just "refine" to start on Windows
  refine.bat
Labels: bug
