Repository OpenRefine/OpenRefine, pull requests merged in 2021-02, with the labels that each got.

#3521 tests: add test for filtering project through tags
  main/tests/cypress/cypress/integration/open-project/filter_projects.spec.js
  main/tests/cypress/cypress/support/openrefine_api.js
Labels: tests

#3541 test: Added test cases for edit Cells, #3423
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/blank-down.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/collapse-consecutive-whitespace.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/to-date.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/to-number.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/trim-leading-whitespace.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/unescape-html-entities.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/fill-down.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3534 test: Refactored the facet test, added more cases
  main/tests/cypress/cypress/integration/project/grid/column/facet/facets.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3535 test: Added tests for expression panels, #3498
  main/tests/cypress/cypress/integration/project/grid/misc/expressions.spec.js
Labels: tests

#3557 Update Java version
  docs/docs/manual/installing.md
  docs/docs/technical-reference/build-test-run.md
Labels: documentation

#3546 feat: add prettier lint scripts and workflow
  .github/workflows/pull_request.yml
  main/tests/cypress/cypress/integration/project/grid/column/sort.spec.js
  main/tests/cypress/cypress/integration/project/grid/viewpanel-header/sort.spec.js
  main/tests/cypress/cypress/support/openrefine_api.js
  main/tests/cypress/package.json
Labels: tests

#3581 Re-instating Tabs import
  docs/docs/manual/installing.md
Labels: documentation

#3564 feat: add ESLint configuration for cypress-test-suite
  main/tests/cypress/.eslintignore
  main/tests/cypress/.eslintrc.json
  main/tests/cypress/.gitignore
  main/tests/cypress/.prettierignore
  main/tests/cypress/.prettierrc.json
  main/tests/cypress/cypress.json
  main/tests/cypress/cypress/fixtures/fixtures.js
  main/tests/cypress/cypress/fixtures/food.mini.js
  main/tests/cypress/cypress/fixtures/food.small.js
  main/tests/cypress/cypress/fixtures/food.sort.js
  main/tests/cypress/cypress/integration/create-project/create_project.spec.js
  main/tests/cypress/cypress/integration/import-project/import_project.spec.js
  main/tests/cypress/cypress/integration/language/change_language.spec.js
  main/tests/cypress/cypress/integration/open-project/filter_projects.spec.js
  main/tests/cypress/cypress/integration/open-project/list_projects.spec.js
  main/tests/cypress/cypress/integration/open-project/open_project.spec.js
  main/tests/cypress/cypress/integration/preferences/change_preference.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/blank-down.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/collapse-consecutive-whitespace.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/to-date.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/to-number.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/trim-leading-whitespace.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/common-transforms/unescape-html-entities.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/fill-down.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/facet/facets.numeric.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/facet/facets.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/sort.spec.js
  main/tests/cypress/cypress/integration/project/grid/misc/expressions.spec.js
  main/tests/cypress/cypress/integration/project/grid/row/edit_cells.spec.js
  main/tests/cypress/cypress/integration/project/grid/viewpanel-header/pagination.spec.js
  main/tests/cypress/cypress/integration/project/grid/viewpanel-header/sort.spec.js
  main/tests/cypress/cypress/integration/project/project-header/export_project.spec.js
  main/tests/cypress/cypress/integration/project/undo_redo/apply.spec.js
  main/tests/cypress/cypress/integration/project/undo_redo/extract.spec.js
  main/tests/cypress/cypress/integration/project/undo_redo/undo_redo.spec.js
  main/tests/cypress/cypress/integration/project_management/project_metadata.spec.js
  main/tests/cypress/cypress/plugins/index.js
  main/tests/cypress/cypress/support/commands.js
  main/tests/cypress/cypress/support/index.js
  main/tests/cypress/cypress/support/openrefine_api.js
  main/tests/cypress/package.json
  main/tests/cypress/yarn.lock
Labels: refactoring, tests

#3583 doc: Enriched UX testing documentation, #3573
  docs/docs/technical-reference/functional-tests.md
  main/tests/cypress/cypress/support/commands.js
Labels: documentation, tests

#3566 Add UX Test for column / Text filter
  main/tests/cypress/cypress/integration/project/grid/column/text_filter.spec.js
Labels: tests

#3596 Fix grammar and typos in functional-tests.md
  docs/docs/technical-reference/functional-tests.md
Labels: documentation

#3595 Attempts to fix Flaky tests, Issue 3594
  main/tests/cypress/cypress.json
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3602 CI: add eslint workflow in the CI
  .github/workflows/pull_request.yml
  main/tests/cypress/package.json
Labels: tests

#3601 Add UX Test for controls at the row level
  main/tests/cypress/cypress/integration/project/grid/all-column/flag.spec.js
  main/tests/cypress/cypress/integration/project/grid/all-column/star.spec.js
Labels: tests

#3606 feat: add tests for rows-records mode
  main/tests/cypress/cypress/integration/project/grid/viewpanel-header/rows_records.spec.js
  main/tests/cypress/cypress/support/commands.js
  main/webapp/modules/core/scripts/index/parser-interfaces/json-parser-ui.js
Labels: tests

#3650 test: Added tests for transpose functionalities, #3426
  main/tests/cypress/cypress/integration/project/grid/column/transpose/cell_accross_columns.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/transpose/cells_in_rows.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/transpose/columnize.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3576 Enable docusaurus link checker.
  docs/docusaurus.config.js
Labels: documentation

#3603 feat: add tests for create project
  main/tests/cypress/cypress/fixtures/shop.mini.tsv
  main/tests/cypress/cypress/integration/create-project/create_project.spec.js
  main/tests/cypress/cypress/integration/create-project/preview_project.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests
