Repository OpenRefine/OpenRefine, pull requests merged in 2021-03, with the labels that each got.

#3703 Mention using local reconciliation services
  docs/docs/manual/reconciling.md
Labels: documentation

#3641 Issue 3423 split join
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/join-multi-valued-cells.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/split-multi-valued-cells.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3712 Some clarification on getting started with Eclipse
  docs/docs/technical-reference/build-test-run.md
Labels: documentation

#3715 fix: increase wait time for preview-table to update
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3676 feat: add tests for project parsing options
  main/tests/cypress/cypress/integration/create-project/preview_project.spec.js
  main/tests/cypress/cypress/integration/project/grid/misc/proper-display.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: UI, tests

#3610 Expressions reorganizing
  docs/docs/manual/expressions.md
  docs/docs/manual/grel.md
  docs/docs/manual/grelfunctions.md
  docs/docs/manual/jythonclojure.md
  docs/sidebars.js
Labels: documentation

#3735 Fixed a testing method (cypress) that was failing for large datasets
  main/tests/cypress/cypress/support/openrefine_api.js
Labels: tests

#3748 Fix broken link in automating OpenRefine docs. (fixes #3747)
  docs/docs/manual/running.md
Labels: documentation

#3757 fix: create project tests fails due to less timeout
  main/tests/cypress/cypress/integration/create-project/create_project.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3755 Attempt to fix flaky integration tests
  main/tests/cypress/cypress/integration/project/grid/column/edit-column/add_columns_based_on_this_column.spec.js
  main/tests/cypress/cypress/integration/project/undo_redo/apply.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3767 fix: flake create_project multiple url test
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#3768 fix: detached element from dom in row_record_spec
  main/tests/cypress/cypress/integration/project/grid/viewpanel-header/rows_records.spec.js
Labels: tests
