Repository OpenRefine/OpenRefine, pull requests merged in 2021-07, with the labels that each got.

#4032 Fix docusaurus config so it fails on broken links.
  docs/docs/manual/exporting.md
  docs/docs/manual/reconciling.md
  docs/docs/manual/wikibase/advanced-schemas.md
  docs/docs/manual/wikibase/schema-alignment.md
  docs/docusaurus.config.js
Labels: documentation

#4034 Add Translations section to Docs README
  docs/README.md
Labels: documentation

#4041 Improve reconciliation tests, to reduce flakiness rate
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/reconcile.spec.js
  main/tests/cypress/cypress/support/commands.js
Labels: tests

#4042 Speed-up testing time for Cypress in CI/CD
  docs/docs/technical-reference/functional-tests.md
  main/tests/cypress/cypress.json
  main/tests/cypress/cypress/support/index.js
  refine
Labels: documentation, tests
