Repository OpenRefine/OpenRefine, pull requests merged in 2021-12, with the labels that each got.

#4307 Fix #4194 toString() and parseJson() are not compatible with JSON spec
  main/src/com/google/refine/expr/functions/Jsonize.java
  main/tests/server/src/com/google/refine/expr/functions/JsonizeTests.java
  main/tests/server/src/com/google/refine/grel/FunctionTests.java
Labels: bug, grel

#4341 Fix displayed msg when adding invalid manifests
  extensions/wikidata/module/scripts/dialogs/wikibase-dialog.js
Labels: enhancement, wikibase, wikicommons

#4340 Centralize dependency versions and plugin versions in root POM.
  extensions/database/pom.xml
  extensions/gdata/pom.xml
  extensions/jython/pom.xml
  extensions/pc-axis/pom.xml
  extensions/phonetic/pom.xml
  extensions/pom.xml
  extensions/sample/pom.xml
  extensions/wikidata/pom.xml
  main/pom.xml
  pom.xml
  server/pom.xml
Labels: enhancement, maintainability, dependencies

#4347 Mention UniversalLanguageSelector requirement
  docs/docs/manual/wikibase/configuration.md
  docs/versioned_docs/version-3.5/manual/wikibase/configuration.md
Labels: documentation, historical docs, current docs

#4357 Use OSSRH snapshot repository to host snapshot releases.
  .github/workflows/release_manager.sh
  .github/workflows/snapshot_release.yml
  README.md
  appveyor.yml
  benchmark/pom.xml
  extensions/pom.xml
  packaging/pom.xml
  pom.xml
Labels: enhancement, maintainability, packaging

#4369 Fix loading of Hadoop native utils on Windows
  appveyor.yml
  main/src/log4j.properties
  main/src/test/resources/log4j.properties
  pom.xml
  refine-local-runner/src/main/java/org/openrefine/model/LocalDatamodelRunner.java
  refine-local-runner/src/test/java/org/openrefine/model/local/PLLTestsBase.java
  refine-local-runner/src/test/resources/log4j.properties
  refine-spark-runner/pom.xml
  refine-spark-runner/src/main/java/org/openrefine/model/SparkGridState.java
  refine-spark-runner/src/test/resources/log4j.properties
  refine-testing/src/main/java/org/openrefine/model/DatamodelRunnerTestBase.java
  refine-util/src/main/java/org/openrefine/logging/IndentingLayout.java
  refine-workflow/src/main/java/org/openrefine/model/recon/StandardReconConfig.java
  refine-workflow/src/test/java/org/openrefine/importers/JsonImporterTests.java
  refine-workflow/src/test/java/org/openrefine/importers/XmlImporterTests.java
  refine-workflow/src/test/resources/log4j.properties
  server/lib-local/native/windows/hadoop/bin/hadoop
  server/lib-local/native/windows/hadoop/bin/hadoop.cmd
  server/lib-local/native/windows/hadoop/bin/hadoop.dll
  server/lib-local/native/windows/hadoop/bin/hadoop.exp
  server/lib-local/native/windows/hadoop/bin/hadoop.iobj
  server/lib-local/native/windows/hadoop/bin/hadoop.ipdb
  server/lib-local/native/windows/hadoop/bin/hadoop.lib
  server/lib-local/native/windows/hadoop/bin/hadoop.pdb
  server/lib-local/native/windows/hadoop/bin/hdfs
  server/lib-local/native/windows/hadoop/bin/hdfs.cmd
  server/lib-local/native/windows/hadoop/bin/hdfs.dll
  server/lib-local/native/windows/hadoop/bin/hdfs.lib
  server/lib-local/native/windows/hadoop/bin/libwinutils.lib
  server/lib-local/native/windows/hadoop/bin/mapred
  server/lib-local/native/windows/hadoop/bin/mapred.cmd
  server/lib-local/native/windows/hadoop/bin/rcc
  server/lib-local/native/windows/hadoop/bin/winutils.exe
  server/lib-local/native/windows/hadoop/bin/winutils.iobj
  server/lib-local/native/windows/hadoop/bin/winutils.ipdb
  server/lib-local/native/windows/hadoop/bin/winutils.pdb
  server/lib-local/native/windows/hadoop/bin/yarn
  server/lib-local/native/windows/hadoop/bin/yarn.cmd
Labels: bug, windows, on Spark

#4378 Test for Java 17 in the CI
  .github/workflows/pull_request.yml
  docs/docs/manual/installing.md
  docs/versioned_docs/version-3.5/manual/installing.md
  pom.xml
Labels: bug, priority: High, documentation, java version compatibility, historical docs, current docs

#4376 Cleanup startup log on Linux
  refine
Labels: bug

#4398 Change odftoolkit version to 0.9.0.
  pom.xml
Labels: bug, dependencies
