Repository OpenRefine/OpenRefine, pull requests merged in 2022-01, with the labels that each got.

#4406 fixes #4405 Maven version updated
  refine
Labels: bug

#4408 fix #4407 down-arrow image path broken on custom installation
  main/webapp/modules/core/scripts/views/data-table/data-table-view.js
Labels: bug, UI

#4416 Refactor editor api for existing Items
  extensions/wikidata/src/org/openrefine/wikidata/editing/EditBatchProcessor.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/editing/EditBatchProcessorTest.java
Labels: enhancement, wikibase, wikicommons

#4047 Add border radius to left/right panel
  main/webapp/modules/core/styles/project.less
Labels: UI

#4184 Adds parent() GREL function for jsoup
  main/src/com/google/refine/expr/functions/xml/Parent.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/html/ParseHtmlTests.java
Labels: enhancement, grel

#4331 PoC of reconciliation tests using a tar/zipped OpenRefine project
  main/tests/cypress/cypress/fixtures/reconciled-project-automatch.zip
  main/tests/cypress/cypress/fixtures/reconciled-project-no-automatch.zip
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/actions/clear_reconciliation_data.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/actions/create_new_item_for_each.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/actions/discard_reconciliation_judgments.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/actions/match_to_best_candidate.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/add_entity_identifiers.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/copy_reconciliation_data.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/facets/by_judgment.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/use_values_as_identifiers.spec.js
  main/tests/cypress/cypress/support/commands.js
  main/tests/cypress/cypress/support/openrefine_api.js
Labels: tests

#4352 Fix issue #3955 Missing Row Separators in Templating Export
  main/src/com/google/refine/templating/Template.java
  main/tests/server/src/com/google/refine/exporters/TemplatingExporterTests.java
Labels: bug, export: template, records

#4192 Add GREL scriptText() function for HTML/XML elements
  main/src/com/google/refine/expr/functions/xml/ScriptText.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/html/ParseHtmlTests.java
Labels: enhancement, grel

#4250 Add expand actions to column view menu
  main/tests/cypress/cypress/integration/project/grid/column/view/expand-left.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/view/expand-right.spec.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/column-header-ui.js
Labels: enhancement, UI

#4430 WIP: Add MediaInfo entity update test-case
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbItemDocumentExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbNameDescExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/TermedStatementEntityUpdateBuilder.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/QuickStatementsUpdateScheduler.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/WikibaseAPIUpdateScheduler.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/editing/EditBatchProcessorTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/editing/ReconEntityRewriterTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/exporters/QuickStatementsExporterTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/CommonDescriptionScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/ConflictsWithScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/DifferenceWithinScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/DistinctValuesScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/EnglishDescriptionScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/EntityTypeScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/FormatScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/InverseConstraintScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/ItemRequiresScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/MultiValueScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/NewItemScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/NoEditsMadeScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/QualifierCompatibilityScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/QuantityScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/RestrictedPositionScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/SingleValueScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/StatementScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/UnsourcedScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/UseAsQualifierScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/ValueScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbItemDocumentExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbNameDescExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WikibaseSchemaTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/testing/TestingData.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/ItemUpdateTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/scheduler/QuickStatementsUpdateSchedulerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/scheduler/UpdateSchedulerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/scheduler/WikibaseAPIUpdateSchedulerTest.java
Labels: enhancement, documentation, wikibase, wikicommons

#4366 Remove superfluous files in root folder of the repository.
  AUTHORS.md
  CHANGES.txt
  WeLoveOurBackers.md
  lgtm.yml
  licenses/apache2.0.LICENSE.txt
  licenses/arithcode.LICENSE.txt
  licenses/dom4j.LICENSE.txt
  licenses/icu4j.LICENSE.txt
  licenses/jrdf.LICENSE.txt
  licenses/jsoup.LICENSE.txt
  licenses/marc4j.LICENSE.txt
  licenses/mockito.LICENSE.txt
  licenses/secondstring.LICENSE.txt
  licenses/simile.LICENSE.txt
  licenses/slf4j.LICENSE.txt
  main/webapp/licenses/chrome_frame.LICENSE.txt
  main/webapp/licenses/datejs.LICENSE.txt
  main/webapp/licenses/freebase_suggest.LICENSE.txt
  main/webapp/licenses/imgareaselect.LICENSE.txt
  main/webapp/licenses/jquery.LICENSE.txt
  main/webapp/licenses/jquery.eventstack.LICENSE.txt
  main/webapp/licenses/jquery.i18n.LICENSE.txt
  main/webapp/licenses/jquery_ui.LICENSE.txt
  main/webapp/licenses/simile-ajax.2.3.0.LICENSE.txt
  packaging/linux.xml
  packaging/pom.xml
  packaging/windows.xml
  pom.xml
  start.sh
  stop.sh
Labels: enhancement, maintainability, maven

#4446 Does this release process docs need to be updated to say Java 11 now?
  docs/docs/technical-reference/version-release-process.md
Labels: documentation, current docs

#4449 Fix failing Cypress tests
  main/src/com/google/refine/expr/functions/xml/ScriptText.java
  main/tests/cypress/cypress/integration/project/grid/viewpanel-header/sort.spec.js
Labels: bug, tests

#4454 PowerMock removal and Java 17 in CI
  .github/workflows/pull_request.yml
  main/pom.xml
  main/tests/server/src/com/google/refine/RefineTest.java
  main/tests/server/src/com/google/refine/importers/WikitextImporterTests.java
  main/tests/server/src/com/google/refine/operations/recon/ExtendDataOperationTests.java
  pom.xml
Labels: enhancement, tests, CI/CD

#4220 Allow changing the path to `refine.ini` via refine.sh/bat on command line
  refine
  refine.bat
Labels: enhancement

#4459 Migrate out of PowerMock for the Wikidata extension
  extensions/wikidata/pom.xml
  extensions/wikidata/src/org/openrefine/wikidata/commands/ConnectionManager.java
  extensions/wikidata/src/org/openrefine/wikidata/commands/LoginCommand.java
  extensions/wikidata/src/org/openrefine/wikidata/utils/EntityCache.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/ConnectionManagerTests.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/LoginCommandTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/PreviewWikibaseSchemaCommandTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/testing/WikidataRefineTest.java
Labels: bug, tests, java version compatibility, wikibase

#4469 Added documentation for "Goto" feature.
  docs/docs/manual/sortview.md
  docs/static/img/goto.png
  docs/versioned_docs/version-3.5/manual/sortview.md
Labels: documentation, historical docs, current docs

#4474 mention Node.js LTS version for building our docs
  docs/README.md
Labels: documentation

#4475 fix broken technical-reference relative links
  docs/README.md
  docs/docs/manual/running.md
  docs/docs/manual/troubleshooting.md
  docs/versioned_docs/version-3.4/manual/running.md
  docs/versioned_docs/version-3.4/manual/troubleshooting.md
  docs/versioned_docs/version-3.5/manual/running.md
  docs/versioned_docs/version-3.5/manual/troubleshooting.md
Labels: documentation, historical docs, current docs

#4476 Add linting check in CI
  .github/workflows/pull_request.yml
  docs/docs/technical-reference/build-test-run.md
  docs/docs/technical-reference/contributing.md
  docs/versioned_docs/version-3.5/technical-reference/build-test-run.md
  docs/versioned_docs/version-3.5/technical-reference/contributing.md
Labels: enhancement, maintainability, documentation, historical docs, current docs

#4479 Fixes #4477 Updates caniuse-lite yarn package
  docs/yarn.lock
Labels: maintainability, documentation, CI/CD
