Repository OpenRefine/OpenRefine, pull requests merged in 2022-04, with the labels that each got.

#4685 [SQL Exporter] Substitute invalid characters in column names with underscore (#1940)
  main/src/com/google/refine/exporters/sql/SqlCreateBuilder.java
  main/src/com/google/refine/exporters/sql/SqlInsertBuilder.java
  main/tests/server/src/com/google/refine/exporters/sql/SqlExporterTests.java
Labels: bug, SQL/database

#4680 Add mention of com.google.refine.Refine to our developer docs
  docs/docs/technical-reference/build-test-run.md
  docs/versioned_docs/version-3.5/technical-reference/build-test-run.md
Labels: documentation, historical docs, current docs

#4663 fix OpenRefine#4656 - clarify location of workspace
  docs/docs/manual/installing.md
Labels: bug, documentation, current docs

#4654 Addition of a link to the GREL docs in the Help section of the Expression dialog
  main/src/com/google/refine/expr/functions/date/DatePart.java
Labels: usability, UI, documentation

#4687 Fixes #2316 "Match other cells with same content" keeps appearing as the default choice #2316
  main/webapp/modules/core/scripts/views/data-table/cell-ui.js
Labels: enhancement, UI, reconciliation

#4691 Fixes #4081 Unreleased Resource: Streams
  extensions/gdata/src/com/google/refine/extension/gdata/UploadCommand.java
Labels: bug

#4710 Added encoding fix
  main/src/com/google/refine/commands/Command.java
Labels: bug, encoding

#4666 fixes #3172 Reconcile > Use values as identifiers" does not reconcile #4655 #4664
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: bug, UI, reconciliation

#4688 update link to get testng
  docs/docs/technical-reference/build-test-run.md
Labels: documentation, historical docs, current docs

#4709 fixes #2465
  main/src/com/google/refine/importers/OdsImporter.java
  main/tests/data/NoData_NoSpreadsheet.ods
  main/tests/server/src/com/google/refine/importers/OdsImporterTests.java
Labels: bug, priority: Low, import, ODS

#4725 Update contributing.md for assignments and Programs (Outreachy & GSoC)
  docs/versioned_docs/version-3.5/technical-reference/contributing.md
Labels: documentation, historical docs

#4711 Clear up some ambiguity in Reconciling with unique ids
  docs/docs/manual/reconciling.md
  docs/versioned_docs/version-3.5/manual/reconciling.md
Labels: documentation, historical docs, current docs

#4701 Improved error handling for pow and exp
  main/src/com/google/refine/expr/functions/math/ACos.java
  main/src/com/google/refine/expr/functions/math/ASin.java
  main/src/com/google/refine/expr/functions/math/ATan.java
  main/src/com/google/refine/expr/functions/math/ATan2.java
  main/src/com/google/refine/expr/functions/math/Abs.java
  main/src/com/google/refine/expr/functions/math/Ceil.java
  main/src/com/google/refine/expr/functions/math/Combin.java
  main/src/com/google/refine/expr/functions/math/Cos.java
  main/src/com/google/refine/expr/functions/math/Cosh.java
  main/src/com/google/refine/expr/functions/math/Degrees.java
  main/src/com/google/refine/expr/functions/math/Even.java
  main/src/com/google/refine/expr/functions/math/Exp.java
  main/src/com/google/refine/expr/functions/math/Fact.java
  main/src/com/google/refine/expr/functions/math/FactN.java
  main/src/com/google/refine/expr/functions/math/Floor.java
  main/src/com/google/refine/expr/functions/math/GreatestCommonDenominator.java
  main/src/com/google/refine/expr/functions/math/LeastCommonMultiple.java
  main/src/com/google/refine/expr/functions/math/Ln.java
  main/src/com/google/refine/expr/functions/math/Log.java
  main/src/com/google/refine/expr/functions/math/Max.java
  main/src/com/google/refine/expr/functions/math/Min.java
  main/src/com/google/refine/expr/functions/math/Mod.java
  main/src/com/google/refine/expr/functions/math/Multinomial.java
  main/src/com/google/refine/expr/functions/math/Odd.java
  main/src/com/google/refine/expr/functions/math/Pow.java
  main/src/com/google/refine/expr/functions/math/Quotient.java
  main/src/com/google/refine/expr/functions/math/Radians.java
  main/src/com/google/refine/expr/functions/math/RandomNumber.java
  main/src/com/google/refine/expr/functions/math/Round.java
  main/src/com/google/refine/expr/functions/math/Sin.java
  main/src/com/google/refine/expr/functions/math/Sinh.java
  main/src/com/google/refine/expr/functions/math/Tan.java
  main/src/com/google/refine/expr/functions/math/Tanh.java
  main/tests/server/src/com/google/refine/grel/FunctionTests.java
Labels: bug, grel, error handling

#4726 Update contributing.md for Functional Tests
  docs/docs/technical-reference/contributing.md
  docs/versioned_docs/version-3.5/technical-reference/contributing.md
Labels: documentation, historical docs, current docs

#4731 Update contributing.md
  docs/versioned_docs/version-3.5/technical-reference/contributing.md
Labels: documentation, historical docs

#4732 Update contributing.md
  docs/versioned_docs/version-3.5/technical-reference/contributing.md
Labels: documentation, historical docs

#4689 set division operator call to return NaN on 0/0
  main/src/com/google/refine/grel/ast/OperatorCallExpr.java
  main/tests/server/src/com/google/refine/grel/GrelTests.java
Labels: bug, priority: Medium, import, grel

#4742 Fixed snapshot builds
  .github/workflows/snapshot_release.yml
Labels: bug, priority: High, packaging

#4736 Add Headers Lincense to the project code base
  main/src/com/google/refine/LookupCacheManager.java
  main/src/com/google/refine/util/HttpClient.java
  main/src/com/google/refine/util/LookupException.java
  server/src/com/google/util/logging/IndentingLayout.java
  server/src/com/google/util/threads/ThreadPoolExecutorAdapter.java
Labels: enhancement

#4748 Fixed snapshot builds (attempt 2)
  .github/workflows/snapshot_release.yml
Labels: bug, priority: High, packaging

#4749 Update running.md
  docs/docs/manual/running.md
  docs/versioned_docs/version-3.5/manual/running.md
Labels: documentation, historical docs, current docs

#4719 Technical documentation for clustering
  docs/docs/technical-reference/clustering-in-depth.md
  docs/sidebars.js
Labels: bug, documentation, clustering, current docs

#4718 Improve clustering method documentation; make it skimmable
  docs/docs/manual/cellediting.md
Labels: bug, documentation, clustering, current docs

#4672 Enhance random number function
  docs/docs/manual/grelfunctions.md
  main/src/com/google/refine/expr/functions/math/RandomNumber.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/math/RandomNumberTest.java
  main/tests/server/src/com/google/refine/grel/FunctionTests.java
Labels: enhancement, priority: Low, documentation, grel, current docs

#4706 Improved browser launch in Linux distribution
  server/src/com/google/refine/Refine.java
Labels: bug

#4697 New grel function parseURI() and access to key aspects (host, port, query…)
  docs/docs/manual/grelfunctions.md
  main/src/com/google/refine/expr/functions/strings/ParseUri.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/strings/ParseUriTest.java
Labels: enhancement, documentation, grel, current docs

#4780 (I#4048) Fix Documentation for Clustering
  docs/static/img/cluster.png
Labels: bug, documentation, clustering, historical docs, current docs

#4768 (I#4402) update project metadata file reader
  main/src/com/google/refine/io/ProjectMetadataUtilities.java
  main/tests/server/src/com/google/refine/io/ProjectMetadataUtilitiesTest.java
Labels: bug, encoding

#4651 added language detection
  docs/docs/manual/grelfunctions.md
  main/pom.xml
  main/src/com/google/refine/expr/functions/strings/DetectLanguage.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/src/com/google/refine/util/DetectLanguageUtils.java
  main/tests/server/src/com/google/refine/expr/functions/strings/DetectLanguageTest.java
Labels: enhancement, documentation, current docs

#4801 (I#148) add base 64 encoding/decoding to grel
  docs/docs/manual/grelfunctions.md
  main/src/com/google/refine/expr/functions/strings/Decode.java
  main/src/com/google/refine/expr/functions/strings/Encode.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/strings/DecodeTest.java
  main/tests/server/src/com/google/refine/expr/functions/strings/EncodeTest.java
Labels: enhancement, priority: Medium, documentation, grel, current docs

#4769 (I#3934) Update user manual and in-app documentation for splitByLength()
  docs/docs/manual/grelfunctions.md
  docs/versioned_docs/version-3.4/manual/grelfunctions.md
  docs/versioned_docs/version-3.5/manual/grelfunctions.md
  main/src/com/google/refine/expr/functions/strings/SplitByLengths.java
Labels: bug, documentation, grel, historical docs, current docs

#4764 (I#4339) Upgrade database and gdata extensions to httpclient5
  extensions/database/pom.xml
  extensions/database/src/com/google/refine/extension/database/cmd/ConnectCommand.java
  extensions/database/src/com/google/refine/extension/database/cmd/ExecuteQueryCommand.java
  extensions/database/src/com/google/refine/extension/database/cmd/SavedConnectionCommand.java
  extensions/database/src/com/google/refine/extension/database/cmd/TestConnectCommand.java
  extensions/database/src/com/google/refine/extension/database/cmd/TestQueryCommand.java
  extensions/database/tests/src/com/google/refine/extension/database/cmd/SavedConnectionCommandTest.java
  extensions/gdata/pom.xml
  main/src/com/google/refine/RefineServlet.java
  main/src/com/google/refine/commands/project/ExportRowsCommand.java
  main/tests/server/src/com/google/refine/RefineServletTests.java
  main/tests/server/src/com/google/refine/importing/ImportingUtilitiesTests.java
  pom.xml
Labels: enhancement, google, SQL/database, dependencies

#4794 Fix serialization of item edits in Wikibase schema
  extensions/wikidata/module/scripts/schema-alignment.js
Labels: bug, wikibase
