Repository OpenRefine/OpenRefine, pull requests merged in 2022-10, with the labels that each got.

#5313 Upgraded Docusaurus to 2.1.0
  docs/package.json
  docs/yarn.lock
Labels: documentation

#5303 Add dialog to manage schema templates.
  extensions/wikidata/module/MOD-INF/controller.js
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/scripts/dialogs/save-new-template-dialog.html
  extensions/wikidata/module/scripts/dialogs/save-schema-dialog.html
  extensions/wikidata/module/scripts/dialogs/save-schema-dialog.js
  extensions/wikidata/module/scripts/dialogs/schema-list-item.html
  extensions/wikidata/module/scripts/dialogs/schema-management-dialog.html
  extensions/wikidata/module/scripts/dialogs/schema-management-dialog.js
  extensions/wikidata/module/scripts/menu-bar-extension.js
  extensions/wikidata/module/scripts/schema-alignment.js
  extensions/wikidata/module/scripts/template-manager.js
  extensions/wikidata/module/styles/dialogs/add-wikibase-dialog.less
  extensions/wikidata/module/styles/dialogs/save-schema-dialog.less
  extensions/wikidata/module/styles/dialogs/schema-management-dialog.less
  extensions/wikidata/module/styles/schema-alignment.less
  extensions/wikidata/src/org/openrefine/wikidata/commands/ParseWikibaseSchemaCommand.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/ParseWikibaseSchemaCommandTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/SchemaCommandTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WikibaseSchemaTest.java
Labels: enhancement, wikibase, wikicommons

#5317 Introduce expensive Wikibase QA checks
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/scripts/dialogs/perform-edits-dialog.js
  extensions/wikidata/src/org/openrefine/wikidata/commands/PreviewWikibaseSchemaCommand.java
  extensions/wikidata/src/org/openrefine/wikidata/functions/WikibaseIssuesFunction.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/EditInspector.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/EditScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/NewEntityScrutinizer.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/EditInspectorTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/NewEntityScrutinizerTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/ScrutinizerTest.java
Labels: enhancement, error handling, wikibase

#5322 Add dialog to let user pick recon service when marking cells as new
  main/src/com/google/refine/commands/recon/ReconMarkNewTopicsCommand.java
  main/src/com/google/refine/operations/recon/ReconMarkNewTopicsOperation.java
  main/tests/cypress/cypress/integration/project/grid/column/reconcile/actions/create_new_item_for_each.spec.js
  main/tests/server/src/com/google/refine/operations/recon/ReconMarkNewTopicsOperationTests.java
  main/webapp/modules/core/MOD-INF/controller.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
  main/webapp/modules/core/styles/dialogs/recon-service-selection-dialog.less
Labels: enhancement, UI, reconciliation

#5327 Add QA check for identical label and description in new Wikibase items.
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/NewEntityScrutinizer.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/scrutinizers/NewEntityScrutinizerTest.java
Labels: enhancement, wikibase

#5334 Made it so the Wikibase schema panel gets resized when the window gets resized
  extensions/wikidata/module/scripts/schema-alignment.js
  main/webapp/modules/core/scripts/project.js
Labels: bug, wikicommons

#5339 Add logging dependencies for test scope. Fixes #5338
  extensions/database/pom.xml
  extensions/gdata/pom.xml
  extensions/jython/pom.xml
  extensions/phonetic/pom.xml
  extensions/wikidata/pom.xml
  main/pom.xml
Labels: bug, tests

#5328 Fix caching of Wikibase suggest results
  extensions/wikidata/module/scripts/wikibase-suggest.js
Labels: bug, UI, wikibase

#5323 Add Wikimedia Commons manifest
  extensions/wikidata/module/MOD-INF/controller.js
  extensions/wikidata/module/scripts/commons-manifest-v2.0.js
  extensions/wikidata/module/scripts/wikibase-manager.js
Labels: enhancement, wikibase, wikicommons

#5332 Replace use of 'which' with 'command -v'
  refine
Labels: bug

#5319 Add Caution about JAVA_HOME error to Windows tab
  docs/versioned_docs/version-3.6/manual/running.md
Labels: documentation, historical docs

#5357 Made the textarea for the edit cell/text facet editors larger
  main/webapp/modules/core/scripts/facets/list-facet.js
  main/webapp/modules/core/scripts/util/misc.js
  main/webapp/modules/core/scripts/views/data-table/cell-ui.js
  main/webapp/modules/core/styles/views/data-table-view.less
Labels: enhancement, usability, UI, accessibility

#5364 Exclude generated code tables from JaCoCo - fixes #5353
  main/pom.xml
Labels: bug, tests

#5372 Fix GREL partition documentation
  docs/docs/manual/grelfunctions.md
  docs/versioned_docs/version-3.4/manual/grelfunctions.md
  docs/versioned_docs/version-3.5/manual/grelfunctions.md
  docs/versioned_docs/version-3.6/manual/grelfunctions.md
Labels: documentation, historical docs, current docs

#5377 Partition docs
  docs/docs/manual/grelfunctions.md
  docs/versioned_docs/version-3.4/manual/grelfunctions.md
  docs/versioned_docs/version-3.5/manual/grelfunctions.md
  docs/versioned_docs/version-3.6/manual/grelfunctions.md
Labels: documentation, historical docs, current docs

#5336 Migrate std lib trim to guava trim
  main/src/com/google/refine/ProjectMetadata.java
  main/src/com/google/refine/clustering/binning/FingerprintKeyer.java
  main/src/com/google/refine/commands/project/SetProjectTagsCommand.java
  main/src/com/google/refine/commands/recon/GuessTypesOfColumnCommand.java
  main/src/com/google/refine/expr/functions/ToDate.java
  main/src/com/google/refine/expr/functions/strings/Range.java
  main/src/com/google/refine/importers/FixedWidthImporter.java
  main/src/com/google/refine/importers/ImporterUtilities.java
  main/src/com/google/refine/importers/SeparatorBasedImporter.java
  main/src/com/google/refine/importers/TabularImportingParserBase.java
  main/src/com/google/refine/importers/TextFormatGuesser.java
  main/src/com/google/refine/importers/WikitextImporter.java
  main/src/com/google/refine/importers/tree/XmlImportUtilities.java
  main/src/com/google/refine/model/Row.java
Labels: enhancement, java version compatibility

#5344 Add Wikibase checks for various filename-related issues in media uploads
  extensions/wikibase/module/langs/translation-en.json
  extensions/wikibase/src/org/openrefine/wikibase/editing/MediaFileUtils.java
  extensions/wikibase/src/org/openrefine/wikibase/qa/EditInspector.java
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/EditScrutinizer.java
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/FileNameScrutinizer.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/editing/MediaFileUtilsTest.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/EditInspectorTest.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/scrutinizers/FileNameScrutinizerTest.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/scrutinizers/ScrutinizerTest.java
Labels: enhancement, error handling, wikibase, wikicommons

#5345 Make the Wikibase entity input placeholder depend on the entity type.
  extensions/wikibase/module/langs/translation-en.json
  extensions/wikibase/module/scripts/schema-alignment.js
Labels: enhancement, UI, wikibase, wikicommons

#5343 mention nvm to manage Node/npm versions on Windows
  docs/docs/technical-reference/build-test-run.md
  docs/versioned_docs/version-3.5/technical-reference/build-test-run.md
  docs/versioned_docs/version-3.6/technical-reference/build-test-run.md
Labels: documentation, historical docs, current docs

#5381 Also add recon `cell` tip to current docs
  docs/docs/manual/reconciling.md
Labels: documentation, current docs

#5380 Add tip about using `cell` to make a copy of recon object
  docs/versioned_docs/version-3.6/manual/reconciling.md
Labels: documentation, historical docs
