Repository OpenRefine/OpenRefine, pull requests merged in 2022-02, with the labels that each got.

#4458 Update brew installation
  docs/docs/manual/installing.md
  docs/versioned_docs/version-3.5/manual/installing.md
Labels: documentation, historical docs, current docs

#4281 Add Homebrew docs to both 3.5 and master docs
  docs/docs/manual/installing.md
  docs/docs/technical-reference/homebrew-cask-process.md
  docs/versioned_docs/version-3.5/manual/installing.md
  docs/versioned_docs/version-3.5/technical-reference/homebrew-cask-process.md
Labels: documentation, historical docs, current docs

#4450 Update facets example documentaion
  docs/docs/manual/facets.md
  docs/versioned_docs/version-3.5/manual/facets.md
Labels: documentation, historical docs, current docs

#4495 Improve grammar in Wikidata extension dialogs
  extensions/wikidata/module/langs/translation-en.json
Labels: wikibase

#4355 Fix templating exporter to accept closing braces in expressions
  main/src/com/google/refine/templating/Parser.java
  main/tests/server/src/com/google/refine/exporters/TemplatingExporterTests.java
Labels: bug, export: template

#4497 Update documentation after fixing of the templating exporter
  docs/docs/manual/exporting.md
  docs/versioned_docs/version-3.5/manual/exporting.md
Labels: documentation, historical docs, current docs

#4486 Fixes #4485 DB Extension autoclose stream with try with resources
  extensions/database/src/com/google/refine/extension/database/DatabaseModuleImpl.java
Labels: bug, error handling, extension

#4501 Improve CI structure by migrating to pull_request event
  .github/workflows/pull_request.yml
Labels: vulnerability, CI/CD

#4451 Refactor Items to Entities
  extensions/wikidata/src/org/openrefine/wikidata/editing/EditBatchProcessor.java
  extensions/wikidata/src/org/openrefine/wikidata/editing/NewEntityLibrary.java
  extensions/wikidata/src/org/openrefine/wikidata/editing/ReconEntityRewriter.java
  extensions/wikidata/src/org/openrefine/wikidata/exporters/QuickStatementsExporter.java
  extensions/wikidata/src/org/openrefine/wikidata/manifests/Manifest.java
  extensions/wikidata/src/org/openrefine/wikidata/operations/PerformWikibaseEditsOperation.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/ConstraintFetcher.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/EditInspector.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/SchemaPropertyExtractor.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/CommonDescriptionScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/ConflictsWithScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/DifferenceWithinRangeScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/EnglishDescriptionScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/ItemRequiresScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/MultiValueScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/NewItemScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/SingleValueScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/StatementScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/UnsourcedScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/scrutinizers/UseAsQualifierScrutinizer.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbEntityDocumentExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbItemVariable.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbNameDescExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStatementExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WikibaseSchema.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/entityvalues/FullyPropertySerializingValueSnak.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/entityvalues/PrefetchedEntityIdValue.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/entityvalues/ReconEntityIdValue.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/exceptions/NewEntityNotCreatedYetException.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/TermedStatementEntityUpdate.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/TermedStatementEntityUpdateBuilder.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/QuickStatementsUpdateScheduler.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/UpdateScheduler.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/UpdateSequence.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/scheduler/WikibaseAPIUpdateScheduler.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/editing/EditBatchProcessorTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/editing/NewEntityLibraryTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/editing/ReconEntityRewriterTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbEntityDocumentExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WikibaseSchemaTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/TermedStatementEntityUpdateTest.java
Labels: documentation

#4502 Attempt to run server tests on Windows too, for #4358
  .github/workflows/pull_request.yml
  appveyor.yml
Labels: enhancement, maintainability, CI/CD

#4505 Download Windows and Mac JREs automatically during packaging
  docs/docs/technical-reference/version-release-process.md
  packaging/linux.xml
  packaging/pom.xml
  packaging/windows-without-jre.xml
  pom.xml
  settings.xml
Labels: maintainability, documentation, packaging, current docs

#4523 Extraction of the Operation History list as a downloadable JSON file
  main/tests/cypress/cypress/integration/project/undo_redo/extract.spec.js
  main/webapp/modules/core/scripts/project/history-extract-dialog.html
  main/webapp/modules/core/scripts/project/history-panel.js
Labels: enhancement, UI, undo/redo/history

#4524 Fix packaging/pom.xml so that JRE is only downloaded when packaging
  .github/workflows/pull_request.yml
  .github/workflows/snapshot_release.yml
  packaging/pom.xml
  pom.xml
Labels: bug, priority: High, maven, packaging

#4528 Turn column name parsing options of CSV/TSV importer into radio buttons
  main/tests/cypress/cypress/integration/create-project/preview_project.spec.js
  main/webapp/modules/core/scripts/index/parser-interfaces/separator-based-parser-ui.html
Labels: bug, UI

#4527 Make project metadata table scrollable
  main/webapp/modules/core/scripts/index/edit-metadata-dialog.js
  main/webapp/modules/core/styles/index/open-project-ui.less
Labels: bug, UI

#4534 Issue #4271 Change column order in Custom Tabular Exporter doesn't update
  main/webapp/modules/core/scripts/dialogs/custom-tabular-exporter-dialog.js
Labels: bug, export: template

#4544 Fix typo and add Maven installation link to tech docs (current)
  docs/docs/technical-reference/build-test-run.md
Labels: documentation, current docs

#4543 Fix typo and add Maven installation link to tech docs
  docs/versioned_docs/version-3.5/technical-reference/build-test-run.md
Labels: documentation, historical docs

#4545 Documentation command line -x examples
  docs/docs/manual/running.md
  docs/versioned_docs/version-3.4/manual/running.md
  docs/versioned_docs/version-3.5/manual/running.md
Labels: bug, documentation, historical docs, current docs

#4549 Update installing.md
  docs/docs/manual/installing.md
  docs/versioned_docs/version-3.5/manual/installing.md
Labels: documentation, historical docs, current docs

#4550 Help and record variable documentation
  main/webapp/modules/core/langs/translation-cs.json
  main/webapp/modules/core/langs/translation-de.json
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/langs/translation-es.json
  main/webapp/modules/core/langs/translation-id.json
  main/webapp/modules/core/langs/translation-it.json
  main/webapp/modules/core/langs/translation-jp.json
  main/webapp/modules/core/langs/translation-pt.json
  main/webapp/modules/core/langs/translation-pt_BR.json
  main/webapp/modules/core/langs/translation-sv.json
Labels: bug, documentation

#4557 Add and Remove All buttons for multiple column selection
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/dialogs/column-reordering-dialog.html
  main/webapp/modules/core/scripts/dialogs/column-reordering-dialog.js
Labels: enhancement, UI

#4559 Added option to disable new version notice
  docs/docs/manual/running.md
  main/src/com/google/refine/commands/GetVersionCommand.java
  main/webapp/modules/core/scripts/index.js
  refine.ini
  server/src/com/google/refine/Refine.java
Labels: enhancement, UI, documentation, current docs

#4572 Update documentation of Wikibase manifests for 2.0 format
  docs/docs/manual/wikibase/configuration.md
Labels: bug, documentation, wikibase, current docs

#4567 Fix missing import options metadata for XML
  main/src/com/google/refine/importers/tree/TreeImportingParserBase.java
  main/tests/server/src/com/google/refine/importers/XmlImporterTests.java
Labels: bug, import, XML

#4563 Java redirect documentation
  docs/docs/manual/installing.md
  packaging/pom.xml
Labels: bug, documentation, java version compatibility, windows, packaging, current docs
