Repository OpenRefine/OpenRefine, pull requests merged in 2022-08, with the labels that each got.

#4973 3082 improve handling of dates in cell editing UI
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/cell-editor.html
  main/webapp/modules/core/scripts/views/data-table/cell-ui.js
Labels: enhancement, UI

#5153 Added fix for UI regression in cluster and edit
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.js
Labels: bug, UI, clustering

#5148 Update Japanese translation filename and related language corrector code
  extensions/database/module/langs/translation-ja.json
  extensions/database/module/scripts/project/database-exporters.js
  extensions/gdata/module/langs/translation-ja.json
  extensions/gdata/module/scripts/index/importing-controller.js
  extensions/gdata/module/scripts/project/exporters.js
  extensions/pc-axis/module/scripts/pc-axis-parser-ui.js
  extensions/phonetic/module/scripts/load-language.js
  extensions/wikidata/module/langs/translation-ja.json
  main/src/com/google/refine/commands/lang/LoadLanguageCommand.java
  main/tests/server/src/com/google/refine/commands/lang/LoadLanguageCommandTests.java
  main/webapp/modules/core/langs/translation-ja.json
  main/webapp/modules/core/scripts/index.js
  main/webapp/modules/core/scripts/preferences.js
  main/webapp/modules/core/scripts/project.js
Labels: bug, localization

#5149 Added the ability to submit the form data by pressing enter on the 'add column based on this column' dialog
  main/webapp/modules/core/scripts/views/data-table/add-column-dialog.html
  main/webapp/modules/core/scripts/views/data-table/menu-edit-column.js
Labels: enhancement, UI

#5132 [doc] #5122 column groups are deprecated
  docs/docs/manual/exploring.md
  docs/docs/technical-reference/architecture.md
Labels: documentation, current docs

#5129 [doc] set-project-metadata, set-project-tags
  docs/docs/technical-reference/openrefine-api.md
Labels: documentation, current docs

#5146 Fix facetability of Wikibase issues
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/scripts/dialogs/perform-edits-dialog.js
  extensions/wikidata/module/scripts/warningsrenderer.js
  extensions/wikidata/src/org/openrefine/wikidata/qa/EditInspector.java
  extensions/wikidata/src/org/openrefine/wikidata/qa/QAWarning.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/PreviewWikibaseSchemaCommandTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/qa/QAWarningTest.java
Labels: bug, wikibase

#5163 Fix editing of redirected Wikibase items.
  extensions/wikidata/src/org/openrefine/wikidata/updates/ItemEdit.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/LabeledStatementEntityEdit.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/MediaInfoEdit.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/StatementEdit.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/ItemEditTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/StatementEditTest.java
Labels: bug, wikibase

#5156 Improve error message for invalid entity ids in Wikibase extension
  extensions/wikidata/module/langs/translation-en.json
Labels: bug, wikibase

#5110 Small improvements to Wikibase technical docs
  docs/docs/technical-reference/wikibase/architecture.md
  docs/static/img/editing-pipeline.dot
  docs/static/img/editing-pipeline.png
Labels: documentation, current docs

#5131 Better error reporting in Wikibase schema
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/scripts/issues-tab.html
  extensions/wikidata/module/scripts/preview-tab.html
  extensions/wikidata/module/scripts/schema-alignment.js
  extensions/wikidata/module/styles/schema-alignment.less
  extensions/wikidata/src/org/openrefine/wikidata/commands/SaveWikibaseSchemaCommand.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbItemEditExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbMediaInfoEditExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbNameDescExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStatementGroupExpr.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/commands/SaveWikibaseSchemaCommandTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbNameDescExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbStatementGroupExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WikibaseSchemaTest.java
Labels: enhancement, error handling, wikibase

#5158 Support for file upload to Wikibase instances without structured data support
  docs/docs/manual/wikibase/configuration.md
  extensions/wikidata/module/scripts/schema-alignment.js
  extensions/wikidata/module/scripts/wikibase-manager.js
  extensions/wikidata/module/scripts/wikibase-manifest-schema-v2.js
  extensions/wikidata/pom.xml
  extensions/wikidata/src/org/openrefine/wikidata/editing/EditBatchProcessor.java
  extensions/wikidata/src/org/openrefine/wikidata/manifests/Manifest.java
  extensions/wikidata/src/org/openrefine/wikidata/manifests/ManifestV1.java
  extensions/wikidata/src/org/openrefine/wikidata/manifests/ManifestV2.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/EntityEdit.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/FullMediaInfoUpdate.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/MediaInfoEdit.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/manifests/ManifestTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/updates/MediaInfoEditTest.java
Labels: enhancement, documentation, wikibase, current docs

#5180 added parent jsoup function in docs #5176
  docs/docs/manual/grelfunctions.md
  docs/versioned_docs/version-3.6/manual/grelfunctions.md
Labels: documentation, current docs

#5188 Fetch URL throttle delay update
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/add-column-by-fetching-urls-dialog.html
  main/webapp/modules/core/scripts/views/data-table/menu-edit-column.js
Labels: enhancement, UI, fetch urls

#5189 2443 back end localization final
  main/resources/com/google/refine/grel/FunctionDescription_en.properties
  main/resources/com/google/refine/messages/OpenRefineMessage.properties
  main/src/com/google/refine/importers/ImporterUtilities.java
  main/src/com/google/refine/operations/recon/ReconOperation.java
Labels: enhancement, localization, gsoc/outreachy

#5178 Clean up HTTP calls made when selecting a property in the Wikibase schema
  extensions/wikidata/module/scripts/schema-alignment.js
  extensions/wikidata/module/scripts/wikibase-suggest.js
Labels: bug, wikibase

#5197 Fetch URL delay update [fix]
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/menu-edit-column.js
Labels: enhancement, UI, fetch urls

#5201 Fix file permissions in DMG
  packaging/pom.xml
Labels: bug, mac, packaging

#5199 Re-enabled tests that create project from URL(s)
  main/tests/cypress/cypress/integration/create-project/create_project.spec.js
  main/webapp/modules/core/scripts/index/create-project-progress-panel.html
  main/webapp/modules/core/scripts/index/default-importing-controller/controller.js
  main/webapp/modules/core/styles/index/create-project-ui.less
Labels: tests

#5216 Added cluster and edit UI tests.
  main/tests/cypress/cypress/integration/project/grid/column/edit-cells/cluster-and-edit.spec.js
  main/tests/cypress/cypress/integration/project/grid/column/facet/facets.spec.js
Labels: tests

#5213 Cluster and edit display fix
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.html
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.js
  main/webapp/modules/core/styles/dialogs/clustering-dialog.less
Labels: bug, UI, clustering

#5191 Initial support for schema templates.
  extensions/wikidata/module/MOD-INF/controller.js
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/module/scripts/dialogs/save-new-template-dialog.html
  extensions/wikidata/module/scripts/dialogs/save-new-template-dialog.js
  extensions/wikidata/module/scripts/schema-alignment-tab.html
  extensions/wikidata/module/scripts/schema-alignment.js
  extensions/wikidata/module/scripts/template-manager.js
  extensions/wikidata/module/scripts/wikibase-manager.js
  extensions/wikidata/module/scripts/wikibase-manifest-schema-v2.js
  extensions/wikidata/module/styles/schema-alignment.less
Labels: enhancement, wikibase, wikicommons

#5203 build(deps): bump @docusaurus to 2.0.1 in /docs
  docs/.node-version
  docs/package.json
  docs/yarn.lock
Labels: documentation
