Repository OpenRefine/OpenRefine, pull requests merged in 2022-12, with the labels that each got.

#5470 Make Excel import tests locale independent. Fixes #5464
  main/tests/server/src/com/google/refine/importers/ExcelImporterTests.java
Labels: bug, import, XLS(X), tests

#5468 Import unsupported datatypes as strings
  main/src/com/google/refine/expr/functions/ToDate.java
  main/src/com/google/refine/importers/ExcelImporter.java
  main/tests/server/src/com/google/refine/importers/ExcelImporterTests.java
Labels: bug, import, XLS(X)

#5491 Updated documentation links
  CONTRIBUTING.md
  README.md
  extensions/wikibase/module/langs/translation-ca.json
  extensions/wikibase/module/langs/translation-cs.json
  extensions/wikibase/module/langs/translation-en.json
  extensions/wikibase/module/langs/translation-es.json
  extensions/wikibase/module/langs/translation-fi.json
  extensions/wikibase/module/langs/translation-fr.json
  extensions/wikibase/module/langs/translation-it.json
  extensions/wikibase/module/langs/translation-ja.json
  extensions/wikibase/module/langs/translation-nl.json
  main/resources/com/google/refine/grel/FunctionDescription.properties
  main/tests/cypress/Readme.md
  main/tests/cypress/cypress/e2e/project/grid/column/transpose/cell_accross_columns.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/transpose/cells_in_rows.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/transpose/columnize.cy.js
  main/webapp/modules/core/index.vt
  main/webapp/modules/core/langs/translation-cs.json
  main/webapp/modules/core/langs/translation-de.json
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/langs/translation-es.json
  main/webapp/modules/core/langs/translation-fi.json
  main/webapp/modules/core/langs/translation-fr.json
  main/webapp/modules/core/langs/translation-id.json
  main/webapp/modules/core/langs/translation-it.json
  main/webapp/modules/core/langs/translation-ja.json
  main/webapp/modules/core/langs/translation-pl.json
  main/webapp/modules/core/langs/translation-pt.json
  main/webapp/modules/core/langs/translation-pt_BR.json
  main/webapp/modules/core/langs/translation-sv.json
  main/webapp/modules/core/project.vt
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.html
  main/webapp/modules/core/scripts/dialogs/expression-preview-dialog.js
  main/webapp/modules/core/scripts/project/history-panel.html
  packaging/pom.xml
  refine
Labels: enhancement, documentation

#5486 Reenable ODF Toolkit deprecation warnings
  main/src/com/google/refine/exporters/OdsExporter.java
  main/src/com/google/refine/importers/OdsImporter.java
Labels: bug, maintainability, ODS

#5489 Fix milli/microsecond cases. Improve tests to cover. Fixes #5488
  main/src/com/google/refine/expr/functions/TimeSinceUnixEpochToDate.java
  main/tests/server/src/com/google/refine/expr/functions/TimeSinceUnixEpochToDateTest.java
Labels: bug, grel

#5445 Change references to the Google Groups to point to the forum instead
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/SUPPORT.md
  CONTRIBUTING.md
  pom.xml
Labels: documentation, historical docs, current docs

#5493 Upload packaged artifacts to GitHub for new releases
  .github/workflows/snapshot_release.yml
Labels: enhancement, maintainability, packaging

#5312 Introduce extension point for cell rendering.
  main/tests/cypress/cypress/e2e/project/grid/misc/proper-display.cy.js
  main/tests/cypress/cypress/support/commands.js
  main/webapp/modules/core/MOD-INF/controller.js
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/error-renderer.js
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/null-renderer.js
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/recon-renderer.js
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/registry.js
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/simple-value-renderer.js
  main/webapp/modules/core/scripts/views/data-table/cell-ui.js
Labels: enhancement, UI, extension, design discussions

#5504 Fix race. Improve tests. Fixes #5497
  main/tests/server/src/com/google/refine/importers/ExcelImporterTests.java
Labels: bug, tests

#5502 issue#5394 -- Updated SelectXML.Java
  main/src/com/google/refine/expr/functions/xml/SelectXml.java
Labels: bug, documentation

#5509 Add `/Applications` shortcut to macOS dmg file
  .github/workflows/snapshot_release.yml
  packaging/dmg_settings.py
  packaging/pom.xml
Labels: enhancement, mac, packaging

#5490 Untangled project timestamp management. Fixes #3047
  main/src/com/google/refine/ProjectManager.java
  main/src/com/google/refine/ProjectMetadata.java
  main/src/com/google/refine/io/ProjectMetadataUtilities.java
  main/src/com/google/refine/model/Cell.java
  main/src/com/google/refine/model/Project.java
  main/src/com/google/refine/util/ParsingUtilities.java
  main/src/com/google/refine/util/SerializationFilters.java
  main/tests/server/src/com/google/refine/ProjectManagerTests.java
Labels: bug, priority: Medium, persistence, metadata
