Repository OpenRefine/OpenRefine, pull requests merged in 2022-05, with the labels that each got.

#4825 (I#4818) Fix for the Verbose log output when using a Wikibase without quality constraints extension
  extensions/wikidata/src/org/openrefine/wikidata/qa/EditInspector.java
Labels: bug, wikibase

#4843 Update installing.md for bad link https://github.com/OpenRefine/OpenRefine-snapshot-releases/releases
  docs/versioned_docs/version-3.5/manual/installing.md
Labels: documentation, historical docs

#4846 Update running.md
  docs/versioned_docs/version-3.5/manual/running.md
Labels: documentation, historical docs

#4784 (I#608) epoch to date grel function
  main/src/com/google/refine/expr/functions/TimeSinceUnixEpochToDate.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/TimeSinceUnixEpochToDateTest.java
Labels: enhancement, priority: Medium, grel

#4765 (I#4304) Provide a link to an overview of existing/active reconciliation services in the reconciliation dialog window
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/reconciliation/recon-dialog.html
  main/webapp/modules/core/scripts/reconciliation/recon-dialog.js
  main/webapp/modules/core/styles/reconciliation/recon-dialog.less
Labels: enhancement, UI, reconciliation

#4767 (I#4738) Making the exported file consistent with the original data
  main/src/com/google/refine/exporters/OdsExporter.java
  main/tests/server/src/com/google/refine/exporters/OdsExporterTests.java
Labels: bug, import, export, ODS

#4793 Add explicit validation errors when invalid identifiers are used.
  extensions/wikidata/module/langs/translation-en.json
  extensions/wikidata/src/org/openrefine/wikidata/qa/QAWarning.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbEntityVariable.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbExpression.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbItemEditExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbItemVariable.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbMediaInfoEditExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbMonolingualExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbNameDescExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbQuantityExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbReferenceExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbSnakExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStatementExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbStatementGroupExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WbVariableExpr.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/WikibaseSchema.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/exceptions/QAWarningException.java
  extensions/wikidata/src/org/openrefine/wikidata/schema/exceptions/SkipSchemaExpressionException.java
  extensions/wikidata/src/org/openrefine/wikidata/updates/MediaInfoEdit.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbEntityVariableTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbExpressionTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbItemEditExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbItemVariableTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbMediaInfoEditExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbNameDescExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbQuantityExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbStatementExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbStatementGroupExprTest.java
  extensions/wikidata/tests/src/org/openrefine/wikidata/schema/WbVariableTest.java
Labels: bug, wikibase

#4800 Add support of Mardown Exporter
  main/pom.xml
  main/src/com/google/refine/exporters/ExporterRegistry.java
  main/src/com/google/refine/exporters/MdExporter.java
  main/tests/cypress/cypress/integration/project/project-header/export_project.spec.js
  main/tests/server/src/com/google/refine/exporters/MdExporterTests.java
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/project/exporters.js
  pom.xml
Labels: enhancement, export, new data format, export: template

#4867 Add echo off to windows batch script
  refine.bat
Labels: bug

#4881 (I#4839) Fix for the Unclosed Statement and ResultSet Resources
  extensions/database/src/com/google/refine/extension/database/mysql/MySQLDatabaseService.java
  extensions/database/src/com/google/refine/extension/database/pgsql/PgSQLDatabaseService.java
  extensions/database/src/com/google/refine/extension/database/sqlite/SQLiteDatabaseService.java
Labels: bug

#4704 [I #387] No error message when you have 5 or less rows in the XML
  main/src/com/google/refine/importers/tree/XmlImportUtilities.java
  main/tests/server/src/com/google/refine/importers/XmlImportUtilitiesTests.java
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index/default-importing-controller/controller.js
  main/webapp/modules/core/scripts/index/parser-interfaces/json-parser-ui.js
  main/webapp/modules/core/scripts/index/parser-interfaces/xml-parser-ui.js
Labels: bug, priority: Medium, documentation, import, XML, error handling, historical docs, current docs

#4896 docs: OR version and Mac start instructions
  docs/docs/manual/installing.md
  docs/static/img/mac-open-notification.png
  docs/versioned_docs/version-3.5/manual/installing.md
Labels: documentation, historical docs, current docs

#4895 CC license rather than (c) for OpenRefine's documentation
  docs/README.md
  docs/docusaurus.config.js
Labels: enhancement, documentation

#4796 (I#1418 I#3719 I#3277) Fix projectID remains in workspace.json after deleting a project
  main/src/com/google/refine/io/FileProjectManager.java
  main/tests/server/src/com/google/refine/io/FileProjectManagerTests.java
Labels: bug, persistence, documentation, current docs
