Repository OpenRefine/OpenRefine, pull requests merged in 2022-11, with the labels that each got.

#5398 Fixed the documentation to display the correct version of ui.browsing.pageSize
  docs/docs/manual/running.md
  docs/versioned_docs/version-3.5/manual/running.md
  docs/versioned_docs/version-3.6/manual/running.md
Labels: bug, documentation, historical docs, current docs

#5404 Update refine.bat
  refine.bat
Labels: bug, windows

#5378 Add See Also tips for find() match()
  docs/docs/manual/grelfunctions.md
  docs/versioned_docs/version-3.6/manual/grelfunctions.md
Labels: documentation, historical docs, current docs

#5379 Add see also notes for find() and match()
  main/resources/com/google/refine/grel/FunctionDescription.properties
Labels: documentation

#5419 Fix Wikibase QA check to allow for valid URLs as file path for mediainfo entities
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/NewEntityScrutinizer.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/scrutinizers/NewEntityScrutinizerTest.java
Labels: bug, wikibase

#5424 Update repository URL for Wikibase reconciliation service
  docs/docs/manual/wikibase/configuration.md
  docs/versioned_docs/version-3.5/manual/wikibase/configuration.md
  docs/versioned_docs/version-3.6/manual/wikibase/configuration.md
Labels: documentation, historical docs, current docs

#5421 Improve error handling for upload of media files.
  extensions/wikibase/src/org/openrefine/wikibase/editing/MediaFileUtils.java
  extensions/wikibase/src/org/openrefine/wikibase/updates/MediaInfoEdit.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/editing/MediaFileUtilsTest.java
Labels: bug, error handling, wikibase

#5434 Add support for custom delimiter in line-based importer
  main/src/com/google/refine/importers/LineBasedImporter.java
  main/tests/server/src/com/google/refine/importers/LineBasedImporterTests.java
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index/parser-interfaces/line-based-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/line-based-parser-ui.js
Labels: enhancement, import, new data format

#5435 Add explicit Wikibase QA warning when file names are normalized.
  extensions/wikibase/module/langs/translation-en.json
  extensions/wikibase/src/org/openrefine/wikibase/editing/MediaFileUtils.java
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/FileNameScrutinizer.java
  extensions/wikibase/src/org/openrefine/wikibase/schema/WbMediaInfoEditExpr.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/schema/WbMediaInfoEditExprTest.java
Labels: enhancement, wikibase, wikicommons

#5436 Add desktop file and appstream metadata
  packaging/desktop/openrefine.metainfo.xml
  packaging/desktop/openrefine.png
  packaging/desktop/org.openrefine.openrefine.desktop
Labels: enhancement, packaging

#5121 Update openrefine-api.md
  docs/docs/technical-reference/openrefine-api.md
Labels: documentation, current docs

#5456 Fix signing of Jython dependency on MacOS
  packaging/apple_certs/README
  packaging/apple_certs/codesign.sh
  packaging/apple_certs/libjffi-1.2.jnilib
  packaging/pom.xml
Labels: enhancement, mac, jython, packaging

#5397 Add option to import Excel as text only. Closes #4838
  main/src/com/google/refine/importers/ExcelImporter.java
  main/tests/server/src/com/google/refine/importers/ExcelImporterTests.java
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index/parser-interfaces/excel-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/excel-parser-ui.js
Labels: enhancement, import, XLS(X)

#5467 Fix unary minus sign evaluation. Fixes #5465
  main/src/com/google/refine/grel/Parser.java
  main/tests/server/src/com/google/refine/grel/GrelTests.java
Labels: bug, grel
