Repository OpenRefine/OpenRefine, pull requests merged in 2023-01, with the labels that each got.

#5543 Clear selected type when "No Type" is selected. Fixes #5523
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.html
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
Labels: bug, reconciliation, reconciliation API design

#5571 Migrate to temurin and use cache with java-setup
  .github/workflows/snapshot_release.yml
Labels: bug, maintainability, CI/CD

#5563 Use column-removal operation after joining columns
  main/src/main/java/org/openrefine/commands/column/RemoveColumnCommand.java
  main/tests/cypress/cypress/integration/project/undo_redo/extract.spec.js
  main/webapp/modules/core/scripts/views/data-table/menu-edit-column.js
  refine-workflow/src/main/java/org/openrefine/operations/column/ColumnRemovalOperation.java
  refine-workflow/src/test/java/org/openrefine/operations/column/ColumnRemovalOperationTests.java
Labels: enhancement, undo/redo/history, columns

#5559 Remove operation commands, replacing them by apply-operations
  main/src/main/java/org/openrefine/commands/cell/BlankDownCommand.java
  main/src/main/java/org/openrefine/commands/cell/FillDownCommand.java
  main/src/main/java/org/openrefine/commands/cell/JoinMultiValueCellsCommand.java
  main/src/main/java/org/openrefine/commands/cell/KeyValueColumnizeCommand.java
  main/src/main/java/org/openrefine/commands/cell/MassEditCommand.java
  main/src/main/java/org/openrefine/commands/cell/SplitMultiValueCellsCommand.java
  main/src/main/java/org/openrefine/commands/cell/TextTransformCommand.java
  main/src/main/java/org/openrefine/commands/cell/TransposeColumnsIntoRowsCommand.java
  main/src/main/java/org/openrefine/commands/cell/TransposeRowsIntoColumnsCommand.java
  main/src/main/java/org/openrefine/commands/column/AddColumnByFetchingURLsCommand.java
  main/src/main/java/org/openrefine/commands/column/AddColumnCommand.java
  main/src/main/java/org/openrefine/commands/column/MoveColumnCommand.java
  main/src/main/java/org/openrefine/commands/column/RemoveColumnCommand.java
  main/src/main/java/org/openrefine/commands/column/RenameColumnCommand.java
  main/src/main/java/org/openrefine/commands/column/ReorderColumnsCommand.java
  main/src/main/java/org/openrefine/commands/column/SplitColumnCommand.java
  main/src/main/java/org/openrefine/commands/history/ApplyOperationsCommand.java
  main/src/main/java/org/openrefine/commands/recon/ExtendDataCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconClearSimilarCellsCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconCopyAcrossColumnsCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconDiscardJudgmentsCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconJudgeSimilarCellsCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconMarkNewTopicsCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconMatchBestCandidatesCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconMatchSpecificTopicCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconUseValuesAsIdentifiersCommand.java
  main/src/main/java/org/openrefine/commands/recon/ReconcileCommand.java
  main/src/main/java/org/openrefine/commands/row/AnnotateRowsCommand.java
  main/src/main/java/org/openrefine/commands/row/RemoveRowsCommand.java
  main/src/main/java/org/openrefine/commands/row/ReorderRowsCommand.java
  main/src/test/java/org/openrefine/commands/cell/JoinMultiValueCellsCommandTests.java
  main/src/test/java/org/openrefine/commands/cell/KeyValueColumnizeCommandTests.java
  main/src/test/java/org/openrefine/commands/cell/SplitMultiValueCellsCommandTests.java
  main/src/test/java/org/openrefine/commands/cell/TransposeColumnsIntoRowsCommandTests.java
  main/src/test/java/org/openrefine/commands/cell/TransposeRowsIntoColumnsCommandTests.java
  main/src/test/java/org/openrefine/commands/column/MoveColumnCommandTests.java
  main/src/test/java/org/openrefine/commands/column/RemoveColumnCommandTests.java
  main/src/test/java/org/openrefine/commands/column/RenameColumnCommandTests.java
  main/src/test/java/org/openrefine/commands/history/ApplyOperationsCommandTests.java
  main/webapp/modules/core/MOD-INF/controller.js
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.js
  main/webapp/modules/core/scripts/dialogs/column-reordering-dialog.js
  main/webapp/modules/core/scripts/dialogs/common-transform-dialog.js
  main/webapp/modules/core/scripts/dialogs/expression-column-dialog.js
  main/webapp/modules/core/scripts/facets/list-facet.js
  main/webapp/modules/core/scripts/project.js
  main/webapp/modules/core/scripts/project/history-panel.js
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
  main/webapp/modules/core/scripts/views/data-table/cell-ui.js
  main/webapp/modules/core/scripts/views/data-table/data-table-view.js
  main/webapp/modules/core/scripts/views/data-table/menu-edit-cells.js
  main/webapp/modules/core/scripts/views/data-table/menu-edit-column.js
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: enhancement, maintainability

#5514 Adds a fix to fit the text facet windows to their content
  main/webapp/modules/core/scripts/facets/list-facet.js
  main/webapp/modules/core/styles/project/facets.css
Labels: enhancement, UI, facets

#5584 Do not insert non-breaking space in clustered values
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.js
Labels: bug, clustering
