Repository OpenRefine/OpenRefine, pull requests merged in 2023-07, with the labels that each got.

#5892 Alternative implementation for importing using url
  main/src/com/google/refine/commands/project/ImportProjectCommand.java
  main/tests/cypress/cypress/e2e/create-project/preview_project.cy.js
  main/tests/cypress/cypress/e2e/import-project/import_project.cy.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index/import-project-ui.html
  main/webapp/modules/core/scripts/index/import-project-ui.js
Labels: enhancement, priority: Low, import

#5898 Added auto cluster checkbox to cluster dialog
  main/webapp/modules/core/about.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.html
  main/webapp/modules/core/scripts/dialogs/clustering-dialog.js
  main/webapp/modules/core/styles/dialogs/clustering-dialog.css
Labels: enhancement, priority: Medium, UI, clustering

#5964 Fix: Reconciliation services can be added multiple times
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/langs/translation-es.json
  main/webapp/modules/core/scripts/reconciliation/recon-manager.js
Labels: bug, UI, reconciliation

#5972 Stop uploading snapshot releases to Maven Central
  README.md
  packaging/pom.xml
Labels: bug, priority: Medium, github_actions

#5973 fix custom metadata edit action
  main/src/com/google/refine/ProjectMetadata.java
  main/tests/server/src/com/google/refine/commands/project/SetProjectMetadataCommandTests.java
Labels: bug, priority: Low, metadata

#5984 Add internal Yarn files to .gitignore
  .gitignore
Labels: enhancement

#5994 length() returns # of keys in object. Fixes #5991
  main/src/com/google/refine/expr/functions/Length.java
  main/tests/server/src/com/google/refine/expr/functions/LengthTests.java
Labels: bug, grel

#5976 Add numbering to the list of Wikibase schemas
  extensions/wikibase/module/scripts/dialogs/schema-list-item.html
  extensions/wikibase/module/styles/dialogs/schema-management-dialog.css
Labels: bug, wikibase, UX
