Repository OpenRefine/OpenRefine, pull requests merged in 2023-06, with the labels that each got.

#5862 Fixed the issue with transpose so it treats blank cells as null
  main/src/com/google/refine/operations/cell/TransposeColumnsIntoRowsOperation.java
  main/tests/server/src/com/google/refine/operations/cell/TransposeColumnsIntoRowsOperationTest.java
Labels: bug, transpose/pivot

#5807 Reenable Coveralls plugin. Fixes #5013
  .github/workflows/pull_request.yml
  .github/workflows/snapshot_release.yml
Labels: bug, CI/CD

#5784 Add reconciliation service's documentation link
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.html
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
Labels: enhancement, UI, reconciliation

#5917 now the default types are displayed with both name and id
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
Labels: bug, UI, reconciliation

#5918 Made facet by judgment resizable
  main/src/com/google/refine/operations/recon/ReconOperation.java
  main/tests/server/src/com/google/refine/operations/recon/ReconOperationTests.java
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: bug, UI, reconciliation

#5895 Skip Wikibase edits on deleted items
  extensions/wikibase/src/org/openrefine/wikibase/editing/EditBatchProcessor.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/editing/EditBatchProcessorTest.java
Labels: bug, wikibase

#5931 Remove maximum Java version on Windows.
  packaging/pom.xml
  pom.xml
Labels: bug, windows, packaging

#5934 Adding engines field for npm, yarn, and node.
  main/tests/cypress/package.json
  main/webapp/package-lock.json
  main/webapp/package.json
Labels: enhancement

#5935 Wikibase: Layout and label changes to schema alignment tab
  extensions/wikibase/module/langs/translation-en.json
  extensions/wikibase/module/scripts/schema-alignment-tab.html
  extensions/wikibase/module/scripts/schema-alignment.js
  extensions/wikibase/module/styles/schema-alignment.css
Labels: enhancement, UI, wikibase
