Repository OpenRefine/OpenRefine, pull requests merged in 2023-08, with the labels that each got.

#5992 #5603 changes the batch size as per condition
  extensions/wikibase/tests/src/org/openrefine/wikibase/editing/NewEntityLibraryTest.java
  main/src/com/google/refine/importers/WikitextImporter.java
  main/src/com/google/refine/model/recon/DataExtensionReconConfig.java
  main/src/com/google/refine/model/recon/ReconConfig.java
  main/src/com/google/refine/model/recon/StandardReconConfig.java
  main/src/com/google/refine/operations/recon/ReconMarkNewTopicsOperation.java
  main/src/com/google/refine/operations/recon/ReconOperation.java
  main/src/com/google/refine/operations/recon/ReconUseValuesAsIdentifiersOperation.java
  main/tests/server/src/com/google/refine/commands/recon/ReconJudgeOneCellCommandTest.java
  main/tests/server/src/com/google/refine/model/ColumnTests.java
  main/tests/server/src/com/google/refine/model/recon/StandardReconConfigTests.java
  main/tests/server/src/com/google/refine/operations/recon/ReconJudgeSimilarCellsTests.java
  main/tests/server/src/com/google/refine/operations/recon/ReconMarkNewTopicsOperationTests.java
  main/tests/server/src/com/google/refine/operations/recon/ReconOperationTests.java
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
Labels: enhancement, reconciliation

#5997 Add support for JSON Objects to forEachIndex() control
  main/resources/com/google/refine/grel/ControlEvalError.properties
  main/src/com/google/refine/grel/ast/VariableExpr.java
  main/src/com/google/refine/grel/controls/ForEachIndex.java
  main/tests/server/src/com/google/refine/grel/controls/ForEachIndexTests.java
Labels: enhancement, grel

#6025 CSV Byte Order Mark (BOM) support. Fixes #1241
  main/src/com/google/refine/importers/TextFormatGuesser.java
  main/src/com/google/refine/importing/EncodingGuesser.java
  main/src/com/google/refine/importing/ImportingUtilities.java
  main/tests/data/csv-with-bom.csv
  main/tests/server/src/com/google/refine/importing/EncodingGuesserTests.java
  main/tests/server/src/com/google/refine/importing/ImportingUtilitiesTests.java
Labels: bug, priority: Medium, encoding, import, CSV/TSV

#6021 Issue 5998 entity identifiers dialog improvements
  main/tests/cypress/cypress/e2e/project/grid/column/reconcile/add_entity_identifiers.cy.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/add-q-column-dialog.html
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: enhancement, UI, reconciliation
