Repository OpenRefine/OpenRefine, pull requests merged in 2023-05, with the labels that each got.

#5823 Removed the '-k' option in the Linux refine script
  refine
Labels: bug, google

#5748 Apply operation json from a file
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/project/history-apply-dialog.html
  main/webapp/modules/core/scripts/project/history-panel.js
Labels: enhancement, UI, undo/redo/history

#5835 issue-5388-fix-case-in-sql-column-names-and-ci-failures
  main/src/com/google/refine/exporters/sql/SqlCreateBuilder.java
  main/src/com/google/refine/exporters/sql/SqlInsertBuilder.java
  main/tests/server/src/com/google/refine/exporters/sql/SqlExporterTests.java
Labels: bug, export, SQL/database

#5842 fix star/flag action #5738
  main/webapp/modules/core/scripts/views/data-table/data-table-view.js
Labels: bug, UI, reconciliation

#5859 Fix issues tab
  extensions/wikibase/module/scripts/schema-alignment.js
  main/tests/cypress/cypress/e2e/extensions/wikibase/wikibase_schema.cy.js
  main/webapp/modules/core/scripts/project/history-panel.js
Labels: bug, wikibase

#5858 Default "Use quote as separator" to False for TSV import
  main/src/com/google/refine/importers/SeparatorBasedImporter.java
  main/tests/server/src/com/google/refine/importers/SeparatorBasedImporterTests.java
Labels: enhancement, import, CSV/TSV
