Repository OpenRefine/OpenRefine, pull requests merged in 2023-09, with the labels that each got.

#6050 Fix case sensitive string sort. Fixes #6047
  main/src/com/google/refine/sorting/StringCriterion.java
  main/tests/server/src/com/google/refine/operations/row/RowReorderOperationTests.java
Labels: bug, sorting

#6022 Improve SQL bad keyword detection - fixes #6019
  extensions/database/module/langs/translation-cs.json
  extensions/database/module/langs/translation-en.json
  extensions/database/module/langs/translation-en_GB.json
  extensions/database/module/langs/translation-es.json
  extensions/database/module/langs/translation-fa.json
  extensions/database/module/langs/translation-fr.json
  extensions/database/module/langs/translation-he.json
  extensions/database/module/langs/translation-id.json
  extensions/database/module/langs/translation-it.json
  extensions/database/module/langs/translation-ja.json
  extensions/database/module/langs/translation-ko.json
  extensions/database/module/langs/translation-ml.json
  extensions/database/module/langs/translation-nb_NO.json
  extensions/database/module/langs/translation-nl.json
  extensions/database/module/langs/translation-pl.json
  extensions/database/module/langs/translation-pt.json
  extensions/database/module/langs/translation-pt_BR.json
  extensions/database/module/langs/translation-sv.json
  extensions/database/module/langs/translation-tr.json
  extensions/database/module/langs/translation-zh_Hans.json
  extensions/database/module/scripts/index/database-source-ui.js
Labels: bug, SQL/database

#6045 Introducing a new variable that takes only required properties of suggest options and excludes the flyout properties
  main/webapp/modules/core/scripts/dialogs/add-column-by-reconciliation.js
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
  main/webapp/modules/core/scripts/util/custom-suggest.js
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/recon-renderer.js
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: reconciliation, vulnerability, reconciliation API design

#5960 Extract view/link URL for reconciled cells #1457
  main/tests/cypress/cypress/e2e/project/grid/column/reconcile/actions/add_column_with_URLs_of_matched_entities.cy.js
  main/tests/cypress/cypress/fixtures/openrefine-demo-sandbox-csv.openrefine.tar.gz.zip
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: enhancement, reconciliation

#6026 Don't write newly read projects before they're modified
  main/src/com/google/refine/ProjectMetadata.java
  main/src/com/google/refine/io/FileProjectManager.java
  main/src/com/google/refine/io/ProjectMetadataUtilities.java
  main/tests/server/src/com/google/refine/io/FileProjectManagerTests.java
Labels: bug, persistence, workspace

#5814 Widen scrutinizer regex pattern - fixes #5656
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/FileNameScrutinizer.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/scrutinizers/FileNameScrutinizerTest.java
Labels: bug, wikibase, wikicommons

#6072 Add missing space in facet sorting
  main/webapp/modules/core/scripts/facets/list-facet.js
Labels: bug, UI
