Repository OpenRefine/OpenRefine, pull requests merged in 2023-10, with the labels that each got.

#6076 Update to Jetty 10
  extensions/gdata/pom.xml
  main/webapp/WEB-INF/jetty-web.xml
  main/webapp/WEB-INF/web.xml
  pom.xml
  server/src/com/google/refine/Refine.java
  server/src/com/google/util/threads/ThreadPoolExecutorAdapter.java
Labels: enhancement

#6088 Bump max Java version to 21
  .github/workflows/pull_request_server.yml
  pom.xml
Labels: Type: Feature Request, java version compatibility

#6102 Bug: Ensure the "Create project" screen is the default one on startup
  main/webapp/modules/core/scripts/index/open-project-ui.js
Labels: Type: Bug, Module: Frontend

#6103 Sandbox the reconciliation preview iframes
  main/webapp/modules/core/scripts/views/data-table/cell-renderers/recon-renderer.js
Labels: Module: Frontend, reconciliation, vulnerability, reconciliation API design

#6098 Switch to uniVocity CSV parser. Fixes #2268 & #1372
  main/pom.xml
  main/src/com/google/refine/exporters/CsvExporter.java
  main/src/com/google/refine/exporters/TabularSerializer.java
  main/src/com/google/refine/expr/functions/strings/SmartSplit.java
  main/src/com/google/refine/importers/SeparatorBasedImporter.java
  main/tests/cypress/cypress/e2e/create-project/preview_project.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/reconcile/actions/create_new_item_for_each.cy.js
  main/tests/cypress/cypress/fixtures/food.mini.csv
  main/tests/cypress/cypress/support/commands.js
  main/tests/cypress/cypress/support/openrefine_api.js
  main/tests/server/src/com/google/refine/RefineTest.java
  main/tests/server/src/com/google/refine/exporters/CsvExporterTests.java
  main/tests/server/src/com/google/refine/exporters/TsvExporterTests.java
  main/tests/server/src/com/google/refine/importers/SeparatorBasedImporterTests.java
  main/webapp/modules/core/about.html
  pom.xml
Labels: Type: Feature Request, Priority: Low, import, CSV/TSV

#6060 Improved property selection in reconciliation dialog
  main/webapp/modules/core/scripts/reconciliation/recon-dialog.js
  main/webapp/modules/core/scripts/reconciliation/standard-service-panel.js
  main/webapp/modules/core/styles/reconciliation/standard-service-panel.css
Labels: Type: Feature Request, Module: Frontend, reconciliation
