Repository OpenRefine/OpenRefine, pull requests merged in 2024-10, with the labels that each got.

#6879 Increase timeouts on Windows systems for FetchURLs test
  main/tests/server/src/com/google/refine/operations/column/ColumnAdditionByFetchingURLsOperationTests.java
Labels: tests, Platform: Windows, PR: Testing

#6563 Resizeable columns
  main/webapp/modules/core/scripts/views/data-table/column-header-ui.js
  main/webapp/modules/core/scripts/views/data-table/data-table-view.js
  main/webapp/modules/core/styles/views/data-table-view.css
Labels: Type: Feature Request, Module: Frontend, columns

#4757 Option to remove Blank Columns upon project creation
  main/tests/cypress/cypress/e2e/create-project/preview_project.cy.js
  main/tests/cypress/cypress/fixtures/food-blank-column.mini.csv
  main/tests/server/src/com/google/refine/importers/ExcelImporterTests.java
  main/tests/server/src/com/google/refine/importers/FixedWidthImporterTests.java
  main/tests/server/src/com/google/refine/importers/ImporterUtilitiesTests.java
  main/tests/server/src/com/google/refine/importers/SeparatorBasedImporterTests.java
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index/parser-interfaces/excel-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/excel-parser-ui.js
  main/webapp/modules/core/scripts/index/parser-interfaces/fixed-width-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/fixed-width-parser-ui.js
  main/webapp/modules/core/scripts/index/parser-interfaces/line-based-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/line-based-parser-ui.js
  main/webapp/modules/core/scripts/index/parser-interfaces/separator-based-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/separator-based-parser-ui.js
  main/webapp/modules/core/scripts/index/parser-interfaces/wikitext-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/wikitext-parser-ui.js
  modules/core/src/main/java/com/google/refine/importers/ImporterUtilities.java
  modules/core/src/main/java/com/google/refine/importers/TabularImportingParserBase.java
  modules/core/src/main/java/com/google/refine/model/ColumnModel.java
Labels: Type: Feature Request, Priority: Medium

#6872 wikibase: More precise editing error messages
  extensions/wikibase/src/org/openrefine/wikibase/editing/EditBatchProcessor.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/editing/EditBatchProcessorTest.java
Labels: Type: Bug, wikibase

#6740 Extract column dependencies of GREL expressions
  modules/core/src/main/java/com/google/refine/expr/Evaluable.java
  modules/grel/pom.xml
  modules/grel/src/main/java/com/google/refine/grel/ast/ControlCallExpr.java
  modules/grel/src/main/java/com/google/refine/grel/ast/FieldAccessorExpr.java
  modules/grel/src/main/java/com/google/refine/grel/ast/FunctionCallExpr.java
  modules/grel/src/main/java/com/google/refine/grel/ast/LiteralExpr.java
  modules/grel/src/main/java/com/google/refine/grel/ast/OperatorCallExpr.java
  modules/grel/src/main/java/com/google/refine/grel/ast/VariableExpr.java
  modules/grel/src/test/java/com/google/refine/grel/GrelTests.java
  modules/grel/src/test/java/com/google/refine/grel/ast/ControlCallExprTest.java
  modules/grel/src/test/java/com/google/refine/grel/ast/ExprTestBase.java
  modules/grel/src/test/java/com/google/refine/grel/ast/FieldAccessorExprTest.java
  modules/grel/src/test/java/com/google/refine/grel/ast/FunctionCallExprTest.java
  modules/grel/src/test/java/com/google/refine/grel/ast/LiteralExprTest.java
  modules/grel/src/test/java/com/google/refine/grel/ast/OperatorCallExprTest.java
  modules/grel/src/test/java/com/google/refine/grel/ast/VariableExprTest.java
Labels: grel, columns

#6898 Fix Google Data extension to use JSON instead of JSONP
  extensions/gdata/module/scripts/index/importing-controller.js
  main/src/com/google/refine/commands/row/GetRowsCommand.java
  modules/core/src/main/java/com/google/refine/commands/Command.java
Labels: Type: Bug, google

#6895 wikibase: Render property names in issue reports #6768
  extensions/wikibase/module/langs/translation-en.json
  extensions/wikibase/module/scripts/warnings-renderer.js
  extensions/wikibase/src/org/openrefine/wikibase/qa/EditInspector.java
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/ItemRequiresScrutinizer.java
  extensions/wikibase/tests/data/entitycache/entitycache-P17.json
  extensions/wikibase/tests/data/entitycache/entitycache-P18.json
  extensions/wikibase/tests/data/entitycache/entitycache-P633.json
  extensions/wikibase/tests/data/entitycache/entitycache-Q16.json
  extensions/wikibase/tests/data/schema/warning_data_test.json
  extensions/wikibase/tests/src/org/openrefine/wikibase/commands/PreviewWikibaseSchemaCommandTest.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/scrutinizers/ItemRequiresScrutinizerTest.java
Labels: Type: Feature Request, wikibase

#6906 Update to macos-13. Fixes #6905
  .github/workflows/snapshot_release.yml
Labels: maintainability, CI/CD

#6912 Add error reporting to JSON preview parse. Fixes #6454
  main/src/com/google/refine/importers/JsonImporter.java
  main/tests/server/src/com/google/refine/importers/JsonImporterTests.java
Labels: Type: Bug, JSON

#6914 wikibase: Test failure when run on non-English locales
  extensions/wikibase/tests/src/org/openrefine/wikibase/commands/PreviewWikibaseSchemaCommandTest.java
Labels: Type: Bug, tests, wikibase

#6924 Fix database import SQLite not closing connections
  extensions/database/src/com/google/refine/extension/database/sqlite/SQLiteDatabaseService.java
Labels: Type: Bug, SQL/database, extension

#6915 ui: Fix dialog warning of history overwriting for some operations
  main/tests/cypress/cypress/e2e/project/undo_redo/warn_for_history_deletion.cy.js
  main/webapp/modules/core/scripts/dialogs/column-reordering-dialog.js
  main/webapp/modules/core/scripts/dialogs/common-transform-dialog.js
  main/webapp/modules/core/scripts/dialogs/expression-column-dialog.js
  main/webapp/modules/core/scripts/facets/list-facet.js
  main/webapp/modules/core/scripts/views/data-table/menu-edit-cells.js
  main/webapp/modules/core/scripts/views/data-table/menu-edit-column.js
  main/webapp/modules/core/scripts/views/data-table/menu-reconcile.js
Labels: Type: Bug, undo/redo/history

#6945 ui: Fix CSRF token fetching utility (and Wikibase login)
  main/webapp/modules/core/scripts/util/csrf.js
Labels: Type: Bug, Priority: High, wikibase

#6946 Broaden illegal format exception caught. Fixes #6943
  modules/grel/src/main/java/com/google/refine/expr/functions/ToString.java
  modules/grel/src/test/java/com/google/refine/expr/functions/ToStringTests.java
Labels: Type: Bug, Priority: Critical, error handling

#6948 Attempt to fix flaky facet include/exclude test
  main/tests/cypress/cypress/e2e/project/grid/column/facet/facets.cy.js
Labels: Type: Bug, Good First Issue, CI/CD

#6880 ODS file incorrectly recognized as XLS #6877
  main/tests/server/src/com/google/refine/importing/ImportingUtilitiesTests.java
  modules/core/src/main/java/com/google/refine/importing/ImportingUtilities.java
Labels: Type: Bug, import, ODS

#6960 Fix flakyness for some Facet tests
  main/tests/cypress/cypress/e2e/project/grid/column/facet/facets.cy.js
Labels: Type: Bug, Good First Issue, CI/CD

#6961 ci: Move Cypress record key to a GH Actions secret
  .github/workflows/pull_request_e2e.yml
  .github/workflows/snapshot_release.yml
Labels: maintainability, CI/CD

#6962 Fixes #6584 add Cypress fixture for records
  main/tests/cypress/cypress/e2e/project/grid/viewpanel-header/rows_records.cy.js
  main/tests/cypress/cypress/fixtures/donut-records.json
  main/tests/cypress/cypress/support/commands.js
Labels: Type: Feature Request, tests, refactoring
