Repository OpenRefine/OpenRefine, pull requests merged in 2024-02, with the labels that each got.

#6354 Remove duplicate packaging steps in CI
  .github/workflows/snapshot_release.yml
Labels: Type: Bug, CI/CD, packaging

#6320 The reconciliation errors are now selectable by facets
  main/src/com/google/refine/commands/recon/ReconClearOneCellCommand.java
  main/src/com/google/refine/commands/recon/ReconJudgeOneCellCommand.java
  main/src/com/google/refine/model/Recon.java
  main/src/com/google/refine/model/ReconStats.java
  main/src/com/google/refine/model/recon/StandardReconConfig.java
  main/src/com/google/refine/operations/recon/ReconJudgeSimilarCellsOperation.java
  main/tests/server/src/com/google/refine/model/ColumnTests.java
  main/tests/server/src/com/google/refine/model/ReconStatsTests.java
  main/tests/server/src/com/google/refine/model/recon/StandardReconConfigTests.java
Labels: Type: Feature Request, facets, error handling

#6342 Improve GREL operators. Fixes #6341 Closes #6340
  main/src/com/google/refine/grel/Parser.java
  main/src/com/google/refine/grel/Scanner.java
  main/src/com/google/refine/grel/ast/OperatorCallExpr.java
  main/tests/server/src/com/google/refine/RefineTest.java
  main/tests/server/src/com/google/refine/grel/GrelTests.java
Labels: Type: Bug, Type: Feature Request, Priority: Low, localization, grel

#5981 Expanding collapsed columns
  main/tests/cypress/cypress/e2e/project/grid/all-column/collapse_all.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/view/collapse.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/view/collapse_left.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/view/collapse_right.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/view/expand-left.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/view/expand-right.cy.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/views/data-table/data-table-view.js
  main/webapp/modules/core/styles/views/data-table-view.css
Labels: Type: Feature Request

#6360 fixes #6330 Trim whitespace when converting stream to string in Impor…
  main/src/com/google/refine/importing/ImportingUtilities.java
  main/tests/server/src/com/google/refine/importing/ImportingUtilitiesTests.java
Labels: Type: Bug, Good First Issue, import

#6359 #5452 Removing missing unit warning
  extensions/wikibase/src/org/openrefine/wikibase/qa/scrutinizers/QuantityScrutinizer.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/qa/scrutinizers/QuantityScrutinizerTest.java
Labels: Type: Bug, Good First Issue, wikibase

#5638 Add licenseConfigFile and configuration
  main/pom.xml
  packaging/THIRD-PARTY.txt
  packaging/manual_licenses.xml
  packaging/pom.xml
Labels: Type: Feature Request, maintainability, maven, PR: Dependencies, CI/CD

#6361 Avoid going through HTTP proxy for requests to localhost in refine script
  refine
Labels: Type: Bug, Good First Issue

#6343 Add more HTTP headers. Fixes #6334
  main/src/com/google/refine/commands/HttpHeadersSupport.java
  main/src/com/google/refine/operations/column/ColumnAdditionByFetchingURLsOperation.java
Labels: Type: Feature Request

#6379 Support Java 21 in refine scripts
  refine
  refine.bat
Labels: Type: Feature Request, java version compatibility

#6377 Restore project expression history. Fixes #6362.
  main/src/com/google/refine/commands/expr/GetExpressionHistoryCommand.java
  main/src/com/google/refine/commands/expr/LogExpressionCommand.java
  main/tests/cypress/cypress/e2e/project/grid/column/edit-cells/transform.cy.js
  main/tests/cypress/cypress/e2e/project/grid/misc/expressions.cy.js
  main/tests/server/src/com/google/refine/commands/expr/ExpressionCommandTestBase.java
  main/tests/server/src/com/google/refine/commands/expr/GetExpressionHistoryCommandTests.java
  main/tests/server/src/com/google/refine/commands/expr/GetExpressionLanguageInfoCommandTests.java
  main/tests/server/src/com/google/refine/commands/expr/GetStarredExpressionsCommandTests.java
  main/tests/server/src/com/google/refine/commands/expr/LogExpressionCommandTests.java
  main/tests/server/src/com/google/refine/commands/expr/ToggleStarredExpressionCommandTests.java
Labels: Type: Bug, expression preview ui

#6376 Add stack trace support and modernize. Fixes #6059
  server/src/com/google/util/logging/IndentingLayout.java
Labels: Type: Bug, error handling

#6369 Check for invalid Zip file & report to user. Fixes #6253
  main/src/com/google/refine/importing/ImportingUtilities.java
  main/tests/data/notazip.zip
  main/tests/server/src/com/google/refine/importing/ImportingUtilitiesTests.java
Labels: Type: Bug, import, error handling

#6344 Use real TSV exporter/importer. Fixes #2071
  main/src/com/google/refine/exporters/CsvExporter.java
  main/src/com/google/refine/importers/ImporterUtilities.java
  main/src/com/google/refine/importers/SeparatorBasedImporter.java
  main/tests/server/src/com/google/refine/exporters/TsvExporterTests.java
  main/tests/server/src/com/google/refine/importers/SeparatorBasedImporterTests.java
Labels: Type: Bug, export, CSV/TSV, Difficulty: Intermediate

#6374 Fixes #6367: replace doesn't work
  main/tests/cypress/cypress/e2e/project/grid/column/edit-cells/replace.cy.js
  main/tests/server/src/com/google/refine/grel/GrelTests.java
  main/webapp/modules/core/scripts/views/data-table/menu-edit-cells.js
Labels: Type: Bug, grel, Theme: UI/Visual

#6368 Improve error reporting when parsing incomplete GREL expressions
  main/src/com/google/refine/grel/Scanner.java
  main/tests/server/src/com/google/refine/grel/GrelTests.java
Labels: Type: Bug, grel

#6393 Remove unneccessary "USE" statement in psql test fixture
  extensions/database/tests/conf/test-pgsql.sql
Labels: maintainability, tests, SQL/database

#6370 Report importer initialization errors. Fixes #6058
  main/src/com/google/refine/commands/Command.java
  main/src/com/google/refine/commands/HttpUtilities.java
  main/src/com/google/refine/importers/ExcelImporter.java
  main/src/com/google/refine/importers/XmlImporter.java
  main/src/com/google/refine/importing/DefaultImportingController.java
  main/tests/cypress/cypress/e2e/create-project/create_project.cy.js
  main/tests/cypress/cypress/fixtures/AAT-with-xsi.xml
  main/tests/cypress/cypress/fixtures/AAT.xml
  main/webapp/modules/core/scripts/index/default-importing-controller/controller.js
Labels: Type: Bug, import, XML, error handling
