Repository OpenRefine/OpenRefine, pull requests merged in 2024-04, with the labels that each got.

#6358 Deal with localized numbers. Fixes OpenRefine#6351
  main/webapp/modules/core/scripts/index/parser-interfaces/excel-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/fixed-width-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/json-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/line-based-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/separator-based-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/separator-based-parser-ui.js
  main/webapp/modules/core/scripts/index/parser-interfaces/wikitext-parser-ui.html
  main/webapp/modules/core/scripts/index/parser-interfaces/xml-parser-ui.html
Labels: Type: Bug, Theme: UX/Usability, Good First Issue, import

#6526 Update to Node 20. Fixes #6525
  .github/workflows/pull_request_e2e.yml
  .github/workflows/snapshot_release.yml
  main/tests/cypress/package.json
Labels: Type: Bug, tests

#6503 Merge phonetic extension into the main app
  extensions/phonetic/.gitignore
  extensions/phonetic/module/MOD-INF/controller.js
  extensions/phonetic/module/MOD-INF/module.properties
  extensions/phonetic/module/langs/translation-en.json
  extensions/phonetic/module/macros.vm
  extensions/phonetic/module/scripts/load-language.js
  extensions/phonetic/pom.xml
  extensions/phonetic/tests/conf/tests.xml
  extensions/pom.xml
  main/src/com/google/refine/clustering/binning/BeiderMorseKeyer.java
  main/src/com/google/refine/clustering/binning/DaitchMokotoffKeyer.java
  main/tests/server/src/com/google/refine/clustering/binning/BeiderMorseKeyerTest.java
  main/tests/server/src/com/google/refine/clustering/binning/DaitchMokotoffKeyerTest.java
  main/webapp/modules/core/MOD-INF/controller.js
  main/webapp/modules/core/langs/translation-en.json
Labels: maintainability, extension

#6524 Try harder to return separator guess. Fixes #6516
  main/src/com/google/refine/importers/SeparatorBasedImporter.java
Labels: Type: Bug, Status: Pending Review, facets, records

#6513 Package Java classes into jars
  extensions/database/pom.xml
  extensions/gdata/pom.xml
  extensions/jython/pom.xml
  extensions/pc-axis/pom.xml
  extensions/pom.xml
  extensions/wikibase/pom.xml
  main/pom.xml
Labels: Type: Feature Request, packaging

#6535 Closes #5702, wikibase old looking UI on warnings.
  extensions/wikibase/module/images/Critical.png
  extensions/wikibase/module/images/Critical.svg
  extensions/wikibase/module/images/Important.png
  extensions/wikibase/module/images/Important.svg
  extensions/wikibase/module/images/Information.png
  extensions/wikibase/module/images/Information.svg
  extensions/wikibase/module/images/Warning.png
  extensions/wikibase/module/images/Warning.svg
  extensions/wikibase/module/scripts/warnings-renderer.js
  extensions/wikibase/module/styles/schema-alignment.css
Labels: Type: Feature Request, Module: Frontend, Good First Issue, wikibase, outreachy design

#6494 Switch to standard Coveralls action. Fixes #6493
  .github/workflows/pull_request_server.yml
  .github/workflows/snapshot_release.yml
  pom.xml
Labels: Type: Feature Request, maintainability, Status: Pending Review

#6511 Switch release notification to openrefine.org and display other events
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index.js
Labels: Type: Feature Request, Theme: UX/Usability
