Repository OpenRefine/OpenRefine, pull requests merged in 2024-08, with the labels that each got.

#6749 Clean up file export. Fixes #6549
  main/src/com/google/refine/commands/project/ExportRowsCommand.java
Labels: Type: Bug, export, Platform: macOS

#6778 fix: Positioning of drop placeholder for file import
  main/webapp/modules/core/styles/index/default-importing-sources.css
Labels: Type: Bug, Good First Issue

#6792 Remove uses of JUnit. Fixes #6791.
  extensions/wikibase/tests/src/org/openrefine/wikibase/manifests/ManifestTest.java
  main/tests/server/src/com/google/refine/ProjectManagerTests.java
  main/tests/server/src/com/google/refine/expr/functions/strings/LevenshteinDistanceTest.java
  main/tests/server/src/com/google/refine/expr/util/CalenderParserTest.java
  main/tests/server/src/com/google/refine/importers/SeparatorBasedImporterTests.java
  main/tests/server/src/com/google/refine/importers/XmlImporterTests.java
  packaging/THIRD-PARTY.txt
Labels: Type: Bug, tests

#6779 fix: Ensure thread safety of Wikibase date parsing
  extensions/wikibase/src/org/openrefine/wikibase/schema/WbDateConstant.java
Labels: Type: Bug, wikibase

#6811 fix #6764
  main/webapp/modules/core/styles/jquery-ui-overrides.css
Labels: Type: Bug, Good First Issue, Theme: UI/Visual

#6812 Fix #5989
  main/webapp/modules/core/styles/views/data-table-view.css
Labels: Type: Bug, Module: Frontend, Good First Issue

#6788 File type detection fails when multiple files are imported at once
  main/src/com/google/refine/importers/LineBasedFormatGuesser.java
  main/src/com/google/refine/importing/ImportingUtilities.java
  main/tests/server/src/com/google/refine/importing/ImportingUtilitiesTests.java
Labels: Type: Bug, import

#6739 GREL Zip function
  main/resources/com/google/refine/grel/EvalErrorMessage.properties
  main/resources/com/google/refine/grel/FunctionDescription.properties
  main/src/com/google/refine/expr/functions/arrays/Zip.java
  main/src/com/google/refine/grel/ControlFunctionRegistry.java
  main/tests/server/src/com/google/refine/expr/functions/arrays/ZipTests.java
Labels: Type: Feature Request, Good First Issue, grel
