Repository OpenRefine/OpenRefine, pull requests merged in 2024-09, with the labels that each got.

#6825 Fix flaky Cypress tests
  main/tests/cypress/cypress/e2e/create-project/preview_project.cy.js
  main/tests/cypress/cypress/e2e/project/grid/column/edit-column/add_columns_based_on_this_column.cy.js
  main/tests/cypress/cypress/e2e/project/grid/misc/expressions.cy.js
  main/tests/cypress/cypress/support/commands.js
Labels: Type: Bug, Module: Frontend, expression preview ui, CI/CD

#6823 Fix Uncaught RangeError when using Cell Edit button to change String to Date data type.
  main/tests/cypress/cypress/e2e/project/grid/row/edit_cells.cy.js
  main/webapp/modules/core/scripts/views/data-table/cell-ui.js
Labels: Type: Bug, Module: Frontend, Good First Issue, javascript

#6837 Check for less specific error from Clojure
  main/tests/cypress/cypress/e2e/project/grid/column/edit-column/add_columns_based_on_this_column.cy.js
  main/tests/cypress/cypress/e2e/project/grid/misc/expressions.cy.js
Labels: Type: Bug, Module: Frontend, CI/CD

#6776 wikibase: Fix NPE when empty edits are scheduled
  extensions/wikibase/src/org/openrefine/wikibase/editing/EditBatchProcessor.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/editing/EditBatchProcessorTest.java
Labels: Type: Bug, wikibase

#6827 Fix long-running test in StandardReconConfigTests
  main/tests/server/src/com/google/refine/model/recon/StandardReconConfigTests.java
Labels: Type: Bug, tests

#6790 Turn on line separator detection for CSV/TSV import. Fixes #6691
  main/src/com/google/refine/importers/SeparatorBasedImporter.java
  main/tests/server/src/com/google/refine/importers/SeparatorBasedImporterTests.java
Labels: Type: Bug, import, CSV/TSV

#6846 add documentation for `toTitleCase()` second argument (delimiters)
  modules/grel/src/main/java/com/google/refine/expr/functions/strings/ToTitlecase.java
  modules/grel/src/main/resources/com/google/refine/grel/FunctionDescription.properties
Labels: Type: Bug, Type: Documentation, Good First Issue

#6861 fixes #6164 remove waitForOrOperation() usage and the helper itself
  main/tests/cypress/cypress/e2e/project/grid/column/facet/facets.numeric.cy.js
  main/tests/cypress/cypress/support/commands.js
Labels: Good First Issue, tests

#6862 Add date handling to Jython. Fixes #692
  extensions/jython/src/com/google/refine/jython/JythonEvaluable.java
  extensions/jython/tests/src/com/google/refine/jython/JythonEvaluableTest.java
Labels: Type: Bug, jython

#6865 Avoid creating identical facets in reconciliation and Wikibase editing operations
  main/webapp/modules/core/scripts/facets/facet.js
  main/webapp/modules/core/scripts/facets/list-facet.js
  main/webapp/modules/core/scripts/facets/range-facet.js
  main/webapp/modules/core/scripts/facets/scatterplot-facet.js
  main/webapp/modules/core/scripts/facets/text-search-facet.js
  main/webapp/modules/core/scripts/facets/timerange-facet.js
  main/webapp/modules/core/scripts/project/browsing-engine.js
  main/webapp/modules/core/scripts/project/process-panel.js
Labels: Type: Feature Request, facets

#6844 Add alphabetical/chronological sort for multi-file import
  main/tests/cypress/cypress/e2e/create-project/create_project.cy.js
  main/webapp/modules/core/langs/translation-en.json
  main/webapp/modules/core/scripts/index/default-importing-controller/controller.js
  main/webapp/modules/core/scripts/index/default-importing-controller/file-selection-panel.html
  main/webapp/modules/core/scripts/index/default-importing-controller/file-selection-panel.js
  main/webapp/modules/core/scripts/index/default-importing-sources/sources.js
  modules/core/src/main/java/com/google/refine/importing/DefaultImportingController.java
  modules/core/src/main/java/com/google/refine/importing/EncodingGuesser.java
Labels: Type: Feature Request, import
