Repository OpenRefine/OpenRefine, pull requests merged in 2025-09, with the labels that each got.

#7412 Set custom user agent for Wikidata calls. Fixes #7383
  extensions/wikibase/pom.xml
  extensions/wikibase/src/org/openrefine/wikibase/commands/ConnectionManager.java
  extensions/wikibase/src/org/openrefine/wikibase/commands/FetchManifestCommand.java
  extensions/wikibase/src/org/openrefine/wikibase/operations/PerformWikibaseEditsOperation.java
  extensions/wikibase/src/org/openrefine/wikibase/utils/HttpClient.java
  extensions/wikibase/src/org/openrefine/wikibase/utils/LanguageCodeStore.java
  extensions/wikibase/tests/src/org/openrefine/wikibase/commands/LoginCommandTest.java
  pom.xml
Labels: Type: Bug, Priority: Critical, wikibase

#7316 ExporterManager: add an explicite extension point
  extensions/wikibase/module/scripts/menu-bar-extension.js
  main/webapp/modules/core/scripts/project/exporters.js
Labels: Module: Frontend, extension

#7439 fix db import progress updates
  extensions/database/src/com/google/refine/extension/database/DBQueryResultImportReader.java
  extensions/database/src/com/google/refine/extension/database/DatabaseImportController.java
  extensions/database/src/com/google/refine/extension/database/DatabaseService.java
  extensions/database/tests/src/com/google/refine/extension/database/DatabaseServiceTest.java
  main/webapp/modules/core/scripts/index/create-project-progress-panel.html
  main/webapp/modules/core/scripts/index/create-project-ui.js
Labels: Type: Bug, Theme: UX/Usability, SQL/database

#7447 Remove unused CI configuration files from database extension
  extensions/database/.travis.yml
  extensions/database/tests/conf/appveyor_tests.xml
Labels: Type: Bug, maintainability, Good First Issue, CI/CD

#7459 Restore exporter error reporting and clean up XLS/XLSX error handling
  main/src/com/google/refine/commands/project/ExportRowsCommand.java
  main/src/com/google/refine/exporters/XlsExporter.java
  main/src/com/google/refine/exporters/sql/SqlExporterException.java
  main/tests/cypress/cypress/e2e/project/project-header/export_project.cy.js
  main/tests/server/src/com/google/refine/exporters/XlsExporterTests.java
  main/tests/server/src/com/google/refine/exporters/XlsxExporterTests.java
  modules/core/src/main/java/com/google/refine/exporters/ExporterException.java
Labels: Type: Bug, Priority: Medium, export, XLS(X), error handling, Difficulty: Intermediate, Needs: Release Note
